---
import BaseLayout from "src/layouts/BaseLayout.astro';
import Navbar from "src/components/Navbar.astro';
import Footer from "src/components/Footer.astro';
---

<BaseLayout title="Blog" description="">

  <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="312f39d8-9b11-3f4a-d770-0dc891a966e6" data-easing="ease" data-easing2="ease" role="banner" class="new-navbar w-nav">
    <div class="youtap-menu">
      <a href="index.html" class="youtap-logo w-nav-brand"><img width="Auto" height="Auto" alt="" src="/images/LOGO-youtap-BARU_BLUE.png" loading="lazy" srcset="/images/LOGO-youtap-BARU_BLUE-p-500.png 500w, /images/LOGO-youtap-BARU_BLUE-p-800.png 800w, /images/LOGO-youtap-BARU_BLUE-p-1080.png 1080w, /images/LOGO-youtap-BARU_BLUE-p-1600.png 1600w, /images/LOGO-youtap-BARU_BLUE-p-2000.png 2000w, /images/LOGO-youtap-BARU_BLUE.png 2405w" sizes="100vw" class="image-123" /></a>
      <nav role="navigation" class="spark-nav-menu-3 w-nav-menu">
        <div data-delay="0" data-hover="true" class="spark-full-width-mobile-2 w-dropdown">
          <div class="spark-nav-link-5 produk w-dropdown-toggle">
            <div class="text-block-74">Produk</div>
            <div class="icon-dropwodn w-icon-dropdown-toggle"></div>
          </div>
          <nav class="spark-dropdown-list w-dropdown-list">
            <div class="block-link-product">
              <a href="https://www.pos.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap POS</a>
              <div class="text-block-136">Aplikasi Kasir Digital Terlengkap</div>
            </div>
            <div class="block-link-product">
              <a href="https://ecommerce.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap BOS</a>
              <div class="text-block-136">Solusi Terlengkap untuk Belanja Kebutuhan Usaha</div>
            </div>
            <div class="block-link-product">
              <a href="https://www.solution.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Solution</a>
              <div class="text-block-136">Solusi Sistem Pembayaran untuk Enterprise</div>
            </div>
            <div class="block-link-product">
              <a href="https://www.kiosk.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap KIOSK</a>
              <div class="text-block-136">Solusi Self Ordering Kiosk dengan Harga Terjangkau</div>
            </div>
            <div class="block-link-product">
              <a href="https://youtap-loyalty.webflow.io/" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Loyalty</a>
              <div class="text-block-136">Solusi Sistem Voucher untuk Loyalitas Pelanggan</div>
            </div>
            <div class="block-link-product">
              <a href="https://www.payment.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Pay</a>
              <div class="text-block-136">Solusi Sistem Pembayaran untuk Enterprise Bisnis</div>
            </div>
          </nav>
        </div>
        <a href="blogs.html" aria-current="page" class="link-block-39 w-inline-block w--current">
          <div class="text-youtap-nav no-dropdown">Blog</div>
        </a>
        <a href="about-us.html" class="link-block-39 w-inline-block">
          <div class="text-youtap-nav no-dropdown">Tentang Kami</div>
        </a>
        <a href="contact-us.html" class="link-block-39 w-inline-block">
          <div class="text-youtap-nav no-dropdown">Hubungi Kami</div>
        </a>
        <div class="w-locales-list">
          <div data-delay="0" data-hover="true" class="dropdown w-dropdown">
            <div class="spark-nav-link-5 lang-dropdwon w-dropdown-toggle">
              <div class="icon-dropwodn w-icon-dropdown-toggle"></div>
              <div class="text-block-74">Bahasa</div>
            </div>
            <nav class="w-dropdown-list">
              <div role="list" class="w-locales-items">
                <div role="listitem" class="w-locales-item">
                  <a hreflang="id" href="#" class="wg-dropdown-1-link w-inline-block"><img loading="lazy" src="/images/Flag_of_Indonesia.png" alt="icon bahasa indonesia" class="lang-img" />
                    <div class="text-block-155">id</div>
                  </a>
                </div>
                <div role="listitem" class="w-locales-item">
                  <a hreflang="en-US" href="#" class="wg-dropdown-1-link w-inline-block"><img loading="lazy" src="/images/Eng-flag.png" alt="icon bahasa inggris" class="lang-img" />
                    <div class="text-block-155">en</div>
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </nav>
      <div data-ix="simple-menu-button" class="spark-simple-menu-button-4 w-nav-button">
        <div class="spark-line-23 spark-simple-line"></div>
        <div class="spark-line-24 spark-simple-line"></div>
        <div class="spark-line-20 spark-simple-line"></div>
      </div>
    </div>
  </div>
  <div class="page-wrapper blog">
    <section>
      <div></div>
    </section>
    <section class="section-36">
      <div class="w-layout-blockcontainer youtap---container w-container">
        <div class="div-block-1216">
          <div class="div-block-1217">
            <h1 class="heading-103">Berita dan artikel Terbaru tentang Youtap Indonesia</h1>
            <div class="text-block-169">Temukan beragam artikel dan informasi terkait inpirasi, tips dan trik, insight menarik seputar bisnis di Blog Youtap.id</div>
          </div>
          <div class="div-block-1218">
            <div id="formSearch" class="form-block-5 details-blog w-form">
              <form id="wf-form-search-blog" name="wf-form-search-blog" data-name="search blog" method="get" fs-cmsfilter-field="search" data-wf-page-id="67dcdf00a60e8d60fca9d452" data-wf-element-id="7a4e9e27-1d8d-0ff5-f91e-7f54a0978f35"><input class="text-field-6 w-input" maxlength="256" fs-list-field="IDENTIFIER" name="article-name-2" data-name="Article Name 2" placeholder="Search Blog" fs-queryparam-name="article-name-2" type="text" id="wf-form-search-blog" required="" /></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-highlight">
      <div class="w-layout-blockcontainer youtap---container w-container">
        <div data-lang="Language " class="w-dyn-list">
          <div role="list" class="w-dyn-items">
            <div role="listitem" class="div-block-1208 collection-item-19 w-dyn-item">
              <div class="div-block-1209"><img src="/images/02-blog-images-elements-brix-templates.jpg" loading="lazy" alt="" class="image-109 w-dyn-bind-empty" /></div>
              <a id="w-node-c27aaaa3-c96d-178a-4359-e8fbaf94627d-fca9d452" href="#" class="link-block-48 w-inline-block">
                <div>
                  <h2 class="heading-100 w-dyn-bind-empty"></h2>
                  <p class="paragraph-1237 w-dyn-bind-empty"></p>
                </div>
                <div id="w-node-de0e21e2-d0c3-d11d-eea8-5f02e0c909e9-fca9d452" class="div-block-1210">
                  <div class="text-block-165 w-dyn-bind-empty"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
          <div role="navigation" aria-label="List" class="w-pagination-wrapper">
            <a href="#" aria-label="Previous Page" class="w-pagination-previous"><svg class="w-pagination-previous-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 12 12" transform="translate(0, 1)">
                <path fill="none" stroke="currentColor" fill-rule="evenodd" d="M8 10L4 6l4-4"></path>
              </svg>
              <div class="w-inline-block">Previous</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-35">
      <section class="section-27">
        <div class="w-layout-blockcontainer youtap---container w-container">
          <h2 class="heading-101">Artikel Terbaru</h2>
          <div class="div-block-1213">
            <div fs-list-element="list" class="w-dyn-list">
              <div fs-list-element="list" role="list" class="collection-list-15 tablet w-dyn-items">
                <div role="listitem" class="collection-item-20 w-dyn-item">
                  <div class="card-blog">
                    <a href="#" class="blog-image w-inline-block">
                      <div class="uui-blogsection04_image-wrapper"><img src="/images/Blog-Image-9.jpg" loading="lazy" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                    </a>
                    <div>
                      <div class="blog-category">
                        <div class="categories">
                          <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="article-title w-inline-block">
                      <div class="div-block-1352">
                        <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                      </div>
                      <div>
                        <p class="paragraph-1237 w-dyn-bind-empty"></p>
                      </div>
                      <div>
                        <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="w-dyn-empty">
                <div>No items found.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-28">
        <div class="w-layout-blockcontainer youtap---container w-container">
          <div data-hover="false" data-delay="0" class="dropdown-3 mobile w-dropdown">
            <nav class="dropdown-list-3 w-dropdown-list">
              <a href="blogs/edukasi.html" class="dropdown-link-3 w-dropdown-link">Edukasi</a>
              <a href="#" class="w-dropdown-link">Berita </a>
              <a href="#" class="w-dropdown-link">Promo</a>
              <a href="#" class="w-dropdown-link">Inspirasi</a>
              <a href="blogs/tips.html" class="w-dropdown-link">Tips</a>
              <a href="#" class="w-dropdown-link">Lainnya</a>
            </nav>
          </div>
          <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs-4 w-tabs">
            <div data-w-id="886c0c90-16fe-b303-4758-138bef9d8e2d" class="tabs-menu-4 w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-link-tab-1-2 w-inline-block w-tab-link w--current">
                <div class="tabs-title">Edukasi</div>
              </a>
              <a data-w-tab="Tab 2" class="tab-link-tab-1-2 w-inline-block w-tab-link">
                <div class="tabs-title">Berita</div>
              </a>
              <a data-w-tab="Tab 3" class="tab-link-tab-1-2 w-inline-block w-tab-link">
                <div class="tabs-title">Promo</div>
              </a>
              <a data-w-tab="Tab 4" class="tab-link-tab-1-2 w-inline-block w-tab-link">
                <div class="tabs-title">Inspirasi</div>
              </a>
              <a data-w-tab="Tab 5" class="tab-link-tab-1-2 w-inline-block w-tab-link">
                <div class="tabs-title">Tips</div>
              </a>
              <a data-w-tab="Tab 6" class="tab-link-tab-1-2 last w-inline-block w-tab-link">
                <div class="tabs-title">Lainnya</div>
              </a>
            </div>
            <div class="tabs-content-3 w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div id="w-node-eec82ccc-8648-2588-32f2-494fb2d14c50-fca9d452" role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-eec82ccc-8648-2588-32f2-494fb2d14c51-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div>
                          <div class="description remove-spacing w-dyn-bind-empty"></div>
                          <div class="div-block-1342">
                            <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-_71a8d153-2a6a-4f4d-7736-bdc890776a19-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div class="description remove-spacing w-dyn-bind-empty"></div>
                        <div class="div-block-1343">
                          <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 3" class="w-tab-pane">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-_01a5eeba-c2d1-51d5-e931-d365ddb541ae-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div>
                          <div class="description remove-spacing w-dyn-bind-empty"></div>
                        </div>
                        <div class="div-block-1344">
                          <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 4" class="w-tab-pane">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-_4b185a3f-e142-22a4-0265-a1954de26c09-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div class="description remove-spacing w-dyn-bind-empty"></div>
                        <div class="div-block-1345">
                          <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 5" class="w-tab-pane">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-_80dba290-1bbb-d249-9c04-06243944bf9f-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div class="description remove-spacing w-dyn-bind-empty"></div>
                        <div class="div-block-1346">
                          <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 6" class="w-tab-pane">
                <div fs-cmsload-element="list" fs-cmsfilter-element="list" class="w-dyn-list">
                  <div role="list" class="collection-list-13 w-dyn-items">
                    <div role="listitem" class="collection-item-16 w-dyn-item">
                      <div id="w-node-_8737fee9-27aa-09e6-d069-659f3a3584ce-fca9d452" class="card-blog">
                        <a href="#" class="blog-image w-inline-block">
                          <div class="uui-blogsection04_image-wrapper"><img loading="lazy" src="/images/Blog-Image-9.jpg" alt="" class="uui-blogsection04_image w-dyn-bind-empty" /></div>
                        </a>
                        <div class="blog-category">
                          <a href="blogs/tips.html" class="categories w-inline-block">
                            <div fs-cmsfilter-tagcategory="" class="text-block-78 w-dyn-bind-empty"></div>
                          </a>
                        </div>
                        <a href="#" class="article-title w-inline-block">
                          <h3 fs-cmsfilter-field="IDENTIFIER" class="heading-article-blog w-dyn-bind-empty"></h3>
                        </a>
                        <div class="description remove-spacing w-dyn-bind-empty"></div>
                        <div class="div-block-1347">
                          <p class="paragraph-1237 date w-dyn-bind-empty"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="whatsapp-block whatsapp-block-2">
    <div class="whatsapp-chat">
      <div class="top-section"><img src="/images/WA-Logo-Blue.png" loading="lazy" width="47" sizes="(max-width: 479px) 100vw, 47px" alt="" srcset="/images/WA-Logo-Blue-p-500.png 500w, /images/WA-Logo-Blue-p-800.png 800w, /images/WA-Logo-Blue-p-1080.png 1080w, /images/WA-Logo-Blue.png 1376w" class="live-icon-chat" />
        <div class="top-text-container">
          <div class="live-chat-top-text">Alisa Youtap</div>
          <div class="live-chat-bottom-text">Typically replies in a few hours</div>
        </div>
        <div id="close-chat" data-w-id="adb9e51c-9985-4c7e-860a-77ed9ebdae1b" class="close-live-chat-container"><img src="/images/close-live-chat.svg" loading="lazy" alt="" class="close-livechat-icon" /></div>
      </div>
      <div class="chat-section">
        <div class="chat-block">
          <div class="live-chat-top-text block">Alisa Youtap</div>
          <div class="live-chat-bottom-text block">Halo! Ada yang bisa Alisa bantu?</div>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=6281113109357&amp;text=Halo+admin+Youtap+Indonesia" target="_blank" class="live-chat-link w-inline-block">
        <div class="livechat-button"><img src="/images/small-whatsapp.svg" loading="lazy" alt="" class="small-whatsapp-icon" />
          <div class="live-chat-text">Start Whatsapp Chat</div>
        </div>
      </a>
    </div>
    <div id="whatsapp-button" data-w-id="adb9e51c-9985-4c7e-860a-77ed9ebdae28" class="whatsapp-container"><img src="/images/whatsapp.svg" loading="lazy" alt="" class="whatsapp-icon" />
      <div class="live-icon"></div>
    </div>
  </div>
  <div class="w-layout-blockcontainer container-42 w-container">
    <div class="w-layout-blockcontainer container-5 w-container">
      <div class="div-block-27"><img width="500" sizes="(max-width: 767px) 100vw, 500px" alt="" src="/images/Banner-POS_mobile.png" loading="lazy" srcset="/images/Banner-POS_mobile-p-500.png 500w, /images/Banner-POS_mobile-p-800.png 800w, /images/Banner-POS_mobile.png 1000w" class="image-100" />
        <div class="div-block-1341">
          <h2 class="centered-heading-6 text-left experience">All-In-One Digital Solutions untuk Semua Bisnis</h2>
        </div>
        <div class="mobile desktop">
          <a id="link-btn-pos" href="https://api.whatsapp.com/send?phone=628111500523&amp;text=Halo+admin+Youtap+Indonesia%21&amp;utm_source=YoutapID&amp;utm_medium=WA_Button_Banner&amp;utm_campaign=Website-Awareness" target="_blank" class="btn-experience-solid btn-mobile w-button">WhatsApp</a>
          <a id="link-btn-pos" href="https://www.youtap.id/contact-us?utm_source=YoutapID&amp;utm_medium=Button_Banner&amp;utm_campaign=Website-Awareness" target="_blank" class="btn-experience-solid outline w-button">Contact US</a>
        </div>
        <div class="mobile mobile-only">
          <a href="https://www.youtap.id/contact-us?utm_source=YoutapID&amp;utm_medium=Button_Banner&amp;utm_campaign=Website-Awareness" target="_blank" class="btn-experience-solid outline w-button">Contact US</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-menu">
    <div class="tnc w-container">
      <section class="uui-section_logos04">
        <div class="uui-text-align-center-6">
          <div class="uui-max-width-large-8 align-center">
            <h4 class="heading-99">Awarded</h4>
          </div>
        </div>
        <section class="copy-this-entire-section">
          <div class="w-layout-blockcontainer main-container w-container">
            <div class="brand-logo-wrapper">
              <div class="client-logo-slider-wrapper">
                <div class="client-logo-slider">
                  <div class="items"><img loading="eager" alt="Brnad Logo" src="/images/1.png" class="item" /><img loading="eager" src="/images/2.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/3.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/4.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/6.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/5.png" alt="Brnad Logo" class="item" /></div>
                  <div class="items"><img loading="eager" alt="Brnad Logo" src="/images/1.png" class="item" /><img loading="eager" src="/images/2.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/3.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/4.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/6.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/5.png" alt="Brnad Logo" class="item" /></div>
                </div>
                <div class="css-code w-embed">
                  <style>
.client-logo-slider {
  animation: moveSlideshow 20s linear infinite;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50.8%);  
  }
}
</style>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <div class="footer-wrapper">
        <div class="line-divider-footer"></div>
        <div class="w-layout-grid grid">
          <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0b0-936cf07b" class="div-block-33">
            <a href="#" class="link-block-2 w-inline-block"></a>
            <div class="text-block-6">PT. Mitra Digital Sukses</div>
            <p class="paragraph-5">Jl. Prof. DR. Soepomo No.2, RT.10/RW.15, Menteng Dalam, Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12870</p>
            <div class="text-block-6"><strong class="bold-text-18">Layanan Pengaduan Konsumen:</strong></div>
            <p class="paragraph-5">Direktorat Jenderal Perlindungan Konsumen dan Tertib Niaga Kementerian Perdagangan Republik Indonesia<br />WA/Telp: 0811 1310 9357<br /></p>
          </div>
          <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf07e-936cf07b" class="wrapper-link-footer">
            <ul role="list" class="list w-list-unstyled"></ul>
            <a href="#" class="list-category-footer">Produk</a>
            <ul role="list" class="list w-list-unstyled">
              <li class="list-item">
                <a href="https://www.pos.youtap.id/" class="link">Youtap POS</a>
              </li>
              <li class="list-item">
                <a href="https://www.ecommerce.youtap.id/" class="link">Youtap BOS</a>
              </li>
              <li class="list-item">
                <a href="https://www.payment.youtap.id/" class="link">Youtap Pay</a>
              </li>
              <li class="list-item">
                <a href="https://www.kiosk.youtap.id/" class="link">Youtap Kiosk</a>
              </li>
              <li class="list-item">
                <a href="https://www.solution.youtap.id/" target="_blank" class="link">Youtap Solution</a>
              </li>
              <li class="list-item">
                <a href="#" target="_blank" class="link">Youtap Loyalty</a>
              </li>
            </ul>
          </div>
          <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf09e-936cf07b" class="wrapper-link-footer">
            <ul role="list" class="list w-list-unstyled"></ul>
            <h5 class="heading-6"></h5>
            <ul role="list" class="list w-list-unstyled">
              <li class="list-item">
                <a href="about-us.html" class="link">Tentang Youtap</a>
              </li>
              <li class="list-item">
                <a href="contact-us.html" class="link">Hubungi Kami</a>
              </li>
              <li class="list-item">
                <a href="blogs.html" aria-current="page" class="link w--current">Blog</a>
              </li>
            </ul>
          </div>
          <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0ab-936cf07b" class="div-block-34">
            <h5 id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0ac-936cf07b" class="heading-6">Follow Us!</h5>
            <div id="w-node-_00b799b0-f3fe-7691-d29e-e31a40b0e26d-936cf07b" class="sosmed-div-block">
              <a href="https://www.facebook.com/youtapindonesia/" target="_blank" class="sosmed w-inline-block"><img src="/images/Facebook.png" loading="lazy" alt="" /></a>
              <a href="https://twitter.com/Youtapid" target="_blank" class="sosmed w-inline-block"><img src="/images/Twitter.png" loading="lazy" alt="" /></a>
              <a href="https://www.instagram.com/youtap.id/" target="_blank" class="sosmed w-inline-block"><img src="/images/Instagram.png" loading="lazy" alt="logo instagram youtap" /></a>
              <a href="https://id.linkedin.com/company/youtap-indonesia" target="_blank" class="sosmed w-inline-block"><img src="/images/LinkedIn.png" loading="lazy" alt="logo linkedin youtap" /></a>
              <a href="https://www.youtube.com/c/YoutapID" target="_blank" class="sosmed w-inline-block"><img src="/images/Youtube.png" loading="lazy" alt="" /></a>
              <a href="https://www.tiktok.com/@youtap.id" target="_blank" class="w-inline-block"><img src="/images/logo-tiktok-youtap.webp" loading="lazy" width="28" alt="logo instagram youtap" /></a>
            </div>
            <div class="div-block-93">
              <a href="https://tabletyoutap.onelink.me/kxXH/floatingbutton" target="_blank" class="google-play-floating link-block-6 w-inline-block"></a>
              <a href="https://tabletyoutap.onelink.me/kxXH/floatingbutton" target="_blank" class="app-store-floating link-block-7 w-inline-block"></a>
            </div>
            <h5 class="heading-6"></h5>
            <div class="legal">
              <a href="https://www.bsigroup.com/en-GB/products-and-services/assessment-and-certification/validation-and-verification/client-directory-certificate/IS%20749131?_ga=2.257632079.578339919.1720695893-461820065.1704337745&amp;_gl=1*1bp9n8f*_gcl_au*NTY3NjExMDEwLjE3MTc5OTM4NzA.*_ga*NDYxODIwMDY1LjE3MDQzMzc3NDU.*_ga_RWDQ3VY9NQ*MTcyMDc0ODg1My41My4wLjE3MjA3NDg4NTMuMC4wLjA." target="_blank" class="iso w-inline-block"></a>
              <a id="w-node-c2483764-3b84-92de-c53c-7226dae5653d-936cf07b" href="https://fintech.id/id/member/detail/685" target="_blank" class="fi w-inline-block"></a>
              <a id="w-node-fc7c8294-28c5-7377-cf8e-9553c1be3039-936cf07b" href="https://pse.kominfo.go.id/tdpse-detail/2035" target="_blank" class="kominfo w-inline-block"></a>
              <a id="w-node-fd02970a-b41f-2e0e-c1ab-dd2687ad2bb9-936cf07b" href="https://anggota.kadin-indonesia.com/DaftarAnggotaBiasa/view/00003776" target="_blank" class="kadin2 w-inline-block"></a>
            </div>
          </div>
        </div>
        <div class="line-footer-bottom"></div>
        <div class="div-block-69">
          <a href="syarat-ketentuan.html" class="link">Terms &amp; Condition</a>
          <a href="kebijakan-privasi.html" class="link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
  <script is:inline src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=616d24eebbeca651471d975d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script is:inline src="/js/youtap-indonesia.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/gsap.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/SplitText.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/ScrollTrigger.min.js" type="text/javascript"></script><!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2DNLPB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  --><!--  Finsweet Attributes  -->
  <script is:inline async="" type="module" src="https://cdn.jsdelivr.net/npm/@finsweet/attributes@2/attributes.js" fs-list=""></script>
  <script is:inline async="" src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-cmsfilter@1/cmsfilter.js"></script>
  <script is:inline src="https://cdn.jsdelivr.net/jquery.responsive-tabs/latest/jquery.responsiveTabs.min.js"></script>
  <script is:inline type="text/javascript">
	$(document).ready(function () {
		// Global js
		$('.tab-lists').find('a').on('click', function(e){
			e.preventDefault();
			return false;
		});
		// Horizontal tab js
		var $tabs = $('#horizontalTab');
			$tabs.responsiveTabs({
			rotate: false,
			startCollapsed: 'accordion',
			collapsible: 'accordion',
			setHash: true,
		});
		$('.r-tabs-accordion-title:first .r-tabs-anchor').trigger('click');
		// Vertical tab js
		var $vtabs = $('#verticalTab');
		$vtabs.responsiveTabs({
			rotate: false,
			startCollapsed: 'accordion',
			collapsible: 'accordion',
			setHash: true,
		});
		$(function(){
			$('#verticalTab .r-tabs-accordion-title').click(function(){
				$(this).next().stop().toggleDown();
				$(this).stop().toggleClass('r-tabs-state-active');
			})
		});
	});
</script>

</BaseLayout>
