---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Navbar from "src/components/Navbar.astro";
import Footer from "src/components/Footer.astro";
---

<BaseLayout title="SpektaCuan - Tingkatkan Level Tokomu dan Raih Cuan Jutaan Rupiah" description="Kompetisi untuk merchant Youtap mulai dari Juli - Desember 2024 yang berhadiah jutaan rupiah. Tingkatkan level tokomu sekarang! Syarat dan ketentuan berlaku!">

  <Navbar />
  <section class="uui-section_layout84">
    <a href="#" target="_blank" class="link-block-15 w-inline-block"><img src="/images/Merchant-Level-Page.jpg" loading="lazy" sizes="100vw" srcset="/images/Merchant-Level-Page-p-500.jpg 500w, /images/Merchant-Level-Page-p-800.jpg 800w, /images/Merchant-Level-Page-p-1080.jpg 1080w, /images/Merchant-Level-Page.jpg 1920w" alt="" class="image-63" /></a>
  </section>
  <div class="uui-page-padding-8">
    <div class="uui-container-large-8"></div>
  </div>
  <div class="walsh-container container-gif">
    <div class="uui-text-align-center-5">
      <div class="uui-max-width-large-7 align-center">
        <h2 class="uui-heading-medium-7">Cara Lihat Level Tokomu di Youtap BOS</h2>
        <div class="uui-space-xsmall-7"></div>
      </div>
    </div>
    <div class="w-layout-grid walsh-main-grid">
      <div id="w-node-_8a0613f0-12c2-22ca-128e-c8f3cb25db45-a8df6e4b" class="walsh-rounded-card">
        <div class="walsh-inner-card">
          <h3 class="walsh-heading-large">Buka Youtap BOS</h3>
          <p class="walsh-main-paragraph">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis.</p>
          <a href="#" class="walsh-link-wrapper w-inline-block">
            <div>Learn more</div><img src="/images/icon-arrow-right-black.svg" loading="lazy" alt="" class="walsh-icon-arrow" />
          </a>
        </div>
        <a href="#" class="vertical-card w-inline-block">
          <div class="hover_video_wrapper">
            <div class="video w-embed">
              <div class="hover_video_wrapper">
                <video class="video" loop="" preload="yes" muted="" width="100%">
                  <source src="https://apuy-puye.com/vid1.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-m w-embed">
              <div class="hover_video_wrapper">
                <video class="video-m" loop="" preload="yes" muted="" width="100%" autoplay="">
                  <source src="https://apuy-puye.com/vid1.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div id="w-node-_5f90b449-4336-c65f-611c-dc892ababa2d-a8df6e4b" class="walsh-rounded-card">
        <div class="walsh-inner-card">
          <h3 class="walsh-heading-large">Login Youtap BOS</h3>
          <p class="walsh-main-paragraph">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis.</p>
          <a href="#" class="walsh-link-wrapper w-inline-block">
            <div>Learn more</div><img src="/images/icon-arrow-right-black.svg" loading="lazy" alt="" class="walsh-icon-arrow" />
          </a>
        </div>
        <a href="#" class="vertical-card w-inline-block">
          <div class="hover_video_wrapper">
            <div class="video w-embed">
              <div class="hover_video_wrapper">
                <video class="video" loop="" preload="yes" muted="" width="100%">
                  <source src="https://apuy-puye.com/Video-Step-2.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-m w-embed">
              <div class="hover_video_wrapper">
                <video class="video-m" loop="" preload="yes" muted="" width="100%" autoplay="">
                  <source src="https://apuy-puye.com/Video-Step-2.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div id="w-node-_8a0613f0-12c2-22ca-128e-c8f3cb25db53-a8df6e4b" class="walsh-rounded-card">
        <div class="walsh-inner-card">
          <h3 class="walsh-heading-large">Klik Level Merchant<br/>di Pojok Kiri Atas</h3>
          <p class="walsh-main-paragraph">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis.</p>
          <a href="#" class="walsh-link-wrapper w-inline-block">
            <div>Learn more</div><img src="/images/icon-arrow-right-black.svg" loading="lazy" alt="" class="walsh-icon-arrow" />
          </a>
        </div>
        <a href="#" class="vertical-card w-inline-block">
          <div class="hover_video_wrapper">
            <div class="video w-embed">
              <div class="hover_video_wrapper">
                <video class="video" loop="" preload="yes" muted="" width="100%">
                  <source src="https://apuy-puye.com/Video-Step-3.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-m w-embed">
              <div class="hover_video_wrapper">
                <video class="video-m" loop="" preload="yes" muted="" width="100%" autoplay="">
                  <source src="https://apuy-puye.com/Video-Step-3.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div id="w-node-_312c7407-f72a-a671-06fe-9b2abb31dea6-a8df6e4b" class="walsh-rounded-card">
        <div class="walsh-inner-card">
          <h3 class="walsh-heading-large">Cek Aktifitas Transaksi Toko Kamu</h3>
          <p class="walsh-main-paragraph">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis.</p>
          <a href="#" class="walsh-link-wrapper w-inline-block">
            <div>Learn more</div><img src="/images/icon-arrow-right-black.svg" loading="lazy" alt="" class="walsh-icon-arrow" />
          </a>
        </div>
        <a href="#" class="vertical-card w-inline-block">
          <div class="hover_video_wrapper">
            <div class="video w-embed">
              <div class="hover_video_wrapper">
                <video class="video" loop="" preload="yes" muted="" width="100%">
                  <source src="https://apuy-puye.com/Video-Step-4.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="video-m w-embed">
              <div class="hover_video_wrapper">
                <video class="video-m" loop="" preload="yes" muted="" width="100%" autoplay="">
                  <source src="https://apuy-puye.com/Video-Step-4.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="w-layout-blockcontainer container-banner w-container">
    <a href="https://youtapbos.onelink.me/opkk/1ce1axm7" target="_blank" class="link-block-15 w-inline-block"><img src="/images/CTA-Merchant-Racing-SpektaCuan.png" loading="lazy" sizes="100vw" srcset="/images/CTA-Merchant-Racing-SpektaCuan-p-500.png 500w, /images/CTA-Merchant-Racing-SpektaCuan-p-800.png 800w, /images/CTA-Merchant-Racing-SpektaCuan-p-1080.png 1080w, /images/CTA-Merchant-Racing-SpektaCuan.png 1600w" alt="" class="image-63" /></a>
    <h2 class="uui-heading-medium-7">Syarat &amp; Ketentuan<br/>Program SPEKTACUAN</h2>
  </div>
  <div class="uui-padding-vertical-xhuge-8">
    <ol role="list" class="list-15">
      <li class="list-item-23">Periode Program <strong>SPEKTACUAN</strong> dimulai dari 1 Juli 2024 s/d 31 Desember 2024. </li>
      <li class="list-item-24">Peserta Program <strong>SPEKTACUAN </strong>adalah merchant Youtap </li>
      <li class="list-item-25">Peserta Program <strong>SPEKTACUAN </strong>adalah merchant Youtap yang aktif bertransaksi hingga level <em>Platinum</em> dan/atau <em>Diamond,</em> dengan ketentuan sebagai berikut:<br/>a. Merchant harus membeli dan aktif berlangganan Paket Extra Mantap Youtap minimal 1 tahun selama periode program berlangsung.<br/>b. Melakukan transaksi <em>cashless </em>di Youtap POS minimal 10 kali transaksi dengan ketentuan terdapat minimal 1x transaksi senilai Rp.500.000,-<br/>c. Melakukan transaksi <em>cash </em>di Youtap POS 50 kali atau senilai Rp.10.000.000,-<br/>d. Melakukan transaksi di Youtap BOS 12 kali atau senilai Rp.15.000.000,-</li>
      <li class="list-item-26">Pemenang program <strong>SPEKTACUAN </strong>adalah merchant Youtap yang berhasil mencapai level <em>platinum </em>atau<em> diamond </em>dengan nilai transaksi tertinggi.</li>
      <li class="list-item-27">Pemenang Program <strong>SPEKTACUAN </strong>akan ditentukan oleh pihak Youtap Indonesia.</li>
      <li class="list-item-28">Biaya pajak hadiah ditanggung oleh masing-masing pemenang sesuai dengan ketentuan perundang-undangan bidang perpajakan yang berlaku.</li>
      <li class="list-item-29">Hadiah tidak dapat dipindah tangankan.</li>
      <li class="list-item-30">Program ini tidak berlaku untuk karyawan, keluarga dan relasi PT Mitra Digital Sukses (Youtap Indonesia).</li>
      <li class="list-item-31">Program <strong>SPEKTACUAN </strong>tidak dapat digabungkan dengan Program promo lainnya.</li>
    </ol>
    <div class="uui-text-align-center-5">
      <div class="uui-max-width-large-7 align-center"></div>
    </div>
  </div>
  <Footer />
  <script is:inline src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=616d24eebbeca651471d975d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script is:inline src="/js/youtap-indonesia.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/gsap.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/SplitText.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/ScrollTrigger.min.js" type="text/javascript"></script><!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2DNLPB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  -->
  <script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/gh/neueworld/WebFlow-Tools@main/video-on-hover v1.0.0.0.js"></script>
</BaseLayout>
