---
---
<section class="section-cta-banner" style="background-color: #05bfe8;">
  <div class="youtap---container w-container">
    <div class="container-loyalty">
      <div class="w-layout-grid uui-cta02_component-2">

        <!-- Image (pola sama dengan YoutapLoyalty) -->
        <div class="uui-cta02_image-wrapper">
          <img
            sizes="(max-width: 479px) 288px, (max-width: 767px) 60vw, (max-width: 991px) 47vw, 462px"
            srcset="/images/Banner-POS_mobile-p-500.png 500w, /images/Banner-POS_mobile-p-800.png 800w, /images/Banner-POS_mobile.png 1000w"
            alt="All-In-One Digital Solutions Banner"
            src="/images/Banner-POS_mobile-p-800.png"
            loading="lazy"
            class="uui-cta02_image-01 shadow-xxlarge hide-mobile-landscape"
          />
        </div>
        <img
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px"
          srcset="/images/Banner-POS_mobile-p-500.png 500w, /images/Banner-POS_mobile-p-800.png 800w, /images/Banner-POS_mobile.png 1000w"
          alt="All-In-One Digital Solutions Banner"
          src="/images/Banner-POS_mobile-p-800.png"
          class="img-2-copy"
        />

        <!-- Konten teks & tombol -->
        <div class="w-layout-grid uui-layout17_item-list">
          <div class="layout-2 with-underline">
            <div class="uui-layout17_item-text-wrapper">
              <h2 class="h3-heading medium white">
                <strong>All-In-One Digital Solutions untuk Semua Bisnis</strong>
              </h2>
            </div>
          </div>
          <div class="spark-flex-row-2 spark-left-aligned-copy-copy left">
            <a
              id="link-btn-cta-wa"
              href="https://api.whatsapp.com/send?phone=628111500523&amp;text=Halo+admin+Youtap+Indonesia%21&amp;utm_source=YoutapID&amp;utm_medium=WA_Button_Banner&amp;utm_campaign=Website-Awareness"
              target="_blank"
              class="btn-loyalty white w-button"
            >WhatsApp</a>
            <a
              id="link-btn-cta-contact"
              href="https://www.youtap.id/contact-us?utm_source=YoutapID&amp;utm_medium=Button_Banner&amp;utm_campaign=Website-Awareness"
              target="_blank"
              class="yt-button secondary-button rounded hover dark w-button"
            >Contact US</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
