---
---
<section class="main-section main-hero">
  <div class="youtap-hero">
    <div class="hero-bg main mobile"><img sizes="100vw" height="" alt="" src="/images/new-hero-banner-mobile.png" srcset="/images/new-hero-banner-mobile-p-500.png 500w, /images/new-hero-banner-mobile-p-800.png 800w, /images/new-hero-banner-mobile.png 1080w" class="hero__background-image" /></div>
    <div class="hero-bg main desktop"><img width="960" height="" alt="" src="/images/Device-HERO_1920x1080_1.avif" sizes="(max-width: 991px) 100vw, 960px" srcset="/images/Device-HERO_1920x1080_1Device-HERO_1920x1080.avif 500w, /images/Device-HERO_1920x1080_1Device-HERO_1920x1080.avif 800w, /images/Device-HERO_1920x1080_1Device-HERO_1920x1080.avif 1080w, /images/Device-HERO_1920x1080_1.avif 1920w" class="hero__background-image" /></div>
    <div class="w-layout-grid content-grid">
      <div class="container-w1 gutter-outside">
        <div class="hero__grid-left hero">
          <div class="intro">
            <div class="head-2">
              <h1 class="title">Solusi Terlengkap <br />untuk Semua Bisnis</h1>
            </div>
            <div class="description">Youtap memiliki solusi digital terlengkap dan platform terintegrasi untuk memenuhi kebutuhan bisnis. Mulai dari POS, E-commerce (BOS), Digital Kiosk, Loyalty, dan Solusi Enterprise.</div>
            <div class="spark-flex-row-2">
              <a href="contact-us.html" class="yt-button secondary-button rounded orange w-button">Hubungi kami</a>
            </div>
          </div>
        </div>
      </div>
      <div class="solusi dua">
        <div class="title4 text-regular">Solusi Youtap:</div>
        <div class="spark-flex-row-2 spark-left-aligned">
          <a href="#youtap-pos" class="yt-button secondary-button rounded solution w-button">Youtap POS</a>
          <a href="#youtap-bos" class="yt-button secondary-button rounded solution w-button">Youtap BOS</a>
          <a href="#youtap-pay" class="yt-button secondary-button rounded solution w-button">Youtap PAY</a>
          <a href="#youtap-kiosk" class="yt-button secondary-button rounded solution w-button">Youtap KIOSK</a>
          <a href="#youtap-loyalty" class="yt-button secondary-button rounded solution w-button">Youtap Loyalty</a>
          <a href="#youtap-solutions" class="yt-button secondary-button rounded solution w-button">Youtap Solution</a>
        </div>
      </div>
    </div>
  </div>
</section>
