---
---
<div class="section-logo">
  <div class="w-layout-blockcontainer main-container-2 w-container">
    <h4 class="title left"><strong class="bold">Partners</strong></h4>
    <div class="brand-logo-wrapper">
      <div class="client-logo-slider-wrapper">
        <div class="payment-slider">
          <div class="items-2"><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/Bank-BRI-Logo-p-500.png 500w, /images/Bank-BRI-Logo.png 994w" alt="Brnad Logo" src="/images/Bank-BRI-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/BNI-Logo-p-500.png 500w, /images/BNI-Logo-p-800.png 800w, /images/BNI-Logo.png 993w" alt="Brnad Logo" src="/images/BNI-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 767px) 100vw, 503px" srcset="/images/Cashbac-Logo-p-500.png 500w, /images/Cashbac-Logo.png 1048w" alt="Brnad Logo" src="/images/Cashbac-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 767px) 100vw, 481px" srcset="/images/Cimb-Niaga-Logo-p-500.png 500w, /images/Cimb-Niaga-Logo.png 1003w" alt="Brnad Logo" src="/images/Cimb-Niaga-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 479px" srcset="/images/Indodana-Logo-p-500.png 500w, /images/Indodana-Logo.png 998w" alt="Brnad Logo" src="/images/Indodana-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 476px" srcset="/images/Kredivo-Logo-p-500.png 500w, /images/Kredivo-Logo.png 992w" alt="Brnad Logo" src="/images/Kredivo-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/Mandiri-Logo-p-500.png 500w, /images/Mandiri-Logo-p-800.png 800w, /images/Mandiri-Logo.png 993w" alt="Brnad Logo" src="/images/Mandiri-Logo.png" loading="eager" class="item-2 _40px" /><img loading="eager" src="/images/mcd60px.png" alt="Brnad Logo" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 450px" srcset="/images/Ovo-Logo-p-500.png 500w, /images/Ovo-Logo.png 938w" alt="Brnad Logo" src="/images/Ovo-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 363px" srcset="/images/Shopee-Pay-Logo-p-500.png 500w, /images/Shopee-Pay-Logo.png 756w" alt="Brnad Logo" src="/images/Shopee-Pay-Logo.png" loading="eager" class="item-2 _40px" /></div>
          <div class="items-2"><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/Bank-BRI-Logo-p-500.png 500w, /images/Bank-BRI-Logo.png 994w" alt="Brnad Logo" src="/images/Bank-BRI-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/BNI-Logo-p-500.png 500w, /images/BNI-Logo-p-800.png 800w, /images/BNI-Logo.png 993w" alt="Brnad Logo" src="/images/BNI-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 767px) 100vw, 503px" srcset="/images/Cashbac-Logo-p-500.png 500w, /images/Cashbac-Logo.png 1048w" alt="Brnad Logo" src="/images/Cashbac-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 767px) 100vw, 481px" srcset="/images/Cimb-Niaga-Logo-p-500.png 500w, /images/Cimb-Niaga-Logo.png 1003w" alt="Brnad Logo" src="/images/Cimb-Niaga-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 479px" srcset="/images/Indodana-Logo-p-500.png 500w, /images/Indodana-Logo.png 998w" alt="Brnad Logo" src="/images/Indodana-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 476px" srcset="/images/Kredivo-Logo-p-500.png 500w, /images/Kredivo-Logo.png 992w" alt="Brnad Logo" src="/images/Kredivo-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 477px" srcset="/images/Mandiri-Logo-p-500.png 500w, /images/Mandiri-Logo-p-800.png 800w, /images/Mandiri-Logo.png 993w" alt="Brnad Logo" src="/images/Mandiri-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 326px" srcset="/images/McDonalds-Logo-p-500.png 500w, /images/McDonalds-Logo.png 680w" alt="Brnad Logo" src="/images/McDonalds-Logo.png" loading="eager" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 450px" srcset="/images/Ovo-Logo-p-500.png 500w, /images/Ovo-Logo.png 938w" alt="Brnad Logo" src="/images/Ovo-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 363px" srcset="/images/Shopee-Pay-Logo-p-500.png 500w, /images/Shopee-Pay-Logo.png 756w" alt="Brnad Logo" src="/images/Shopee-Pay-Logo.png" loading="eager" class="item-2 _40px" /></div>
        </div>
        <div class="css-code w-embed">
          <style>
.payment-slider {
  animation: moveSlideshow 60s linear infinite;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50.8%);  
  }
}
</style>
        </div>
      </div>
    </div>
  </div>
</div>
