---
---
<div id="youtap-solutions" class="section-youtap-solution">
  <div class="youtap---container w-container">
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f1e" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left"><strong class="bold">Youtap Solution</strong></h2>
          <div class="sub-head normal">Solusi digital Youtap untuk Bisnis Enterprise</div>
        </div>
      </div>
    </div>
    <div class="youtap---container-default w-container">
      <div data-delay="4000" data-animation="slide" class="f-testimonial-slider-regular w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="f-testimonial-mask w-slider-mask">
          <div class="slide-18 w-slide">
            <div class="brix---inner-container-800px---center">
              <div class="brix---card-testimonial-v6-copy"><img sizes="100vw" srcset="/images/H2H-CPM-p-500.webp 500w, /images/H2H-CPM.webp 760w" alt="" src="/images/H2H-CPM.webp" loading="lazy" /></div>
              <div class="brix---text-center-5">
                <div class="brix---color-neutral-830">
                  <h3 class="brix---heading-h3-size-5"><strong class="bold-text-16">Pembayaran CPM <em>Host to Host</em></strong></h3>
                </div>
                <div class="brix---color-neutral-831">
                  <div class="description">Sistem digitalisasi dengan menyediakan Integrasi Host ke Host yang menggunakan sistem pembayaran CPM. Tawarkan solusi fleksibilitas dan skalabilitas untuk bisnis korporat besar tanpa investasi yang signifikan.<br /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-18 w-slide">
            <div class="brix---inner-container-800px---center">
              <div class="brix---card-testimonial-v6-copy"><img sizes="100vw" srcset="/images/H2H-MPM-p-500.webp 500w, /images/H2H-MPM.webp 760w" alt="" src="/images/H2H-MPM.webp" loading="lazy" /></div>
              <div class="brix---text-center-5">
                <div class="brix---color-neutral-830">
                  <h3 class="brix---heading-h3-size-5"><strong class="bold-text-16">Pembayaran MPM <em>Host to Host</em></strong></h3>
                </div>
                <div class="brix---color-neutral-831">
                  <div class="description">Sistem Integrasi <em>Host ke Host</em> untuk sistem pembayaran MPM multi akuisisi dari berbagai bank, <em>e-wallet,</em> beli sekarang, hingga “<em>pay later</em>” dengan menyediakan sistem penerimaan pembayaran dengan QRIS.<br /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-18 w-slide">
            <div class="brix---inner-container-800px---center">
              <div class="brix---card-testimonial-v6-copy"><img sizes="100vw" srcset="/images/ecommerce-p-500.webp 500w, /images/ecommerce.webp 760w" alt="" src="/images/ecommerce.webp" loading="lazy" /></div>
              <div class="brix---text-center-5">
                <div class="brix---color-neutral-830">
                  <h3 class="brix---heading-h3-size-5"><strong class="bold-text-16">E-COMMERCE ENTERPRISE</strong></h3>
                </div>
                <div class="brix---color-neutral-831">
                  <div class="description">Solusi untuk memperluas dan meningkatkan bisnis Anda dengan intergrasi API untuk setiap katalog dan produk.<br /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-18 w-slide">
            <div class="brix---inner-container-800px---center">
              <div class="brix---card-testimonial-v6-copy"><img sizes="100vw" srcset="/images/POS-White-Label-p-500.webp 500w, /images/POS-White-Label.webp 760w" alt="" src="/images/POS-White-Label.webp" loading="lazy" /></div>
              <div class="brix---text-center-5">
                <div class="brix---color-neutral-830">
                  <h3 class="brix---heading-h3-size-5"><strong class="bold-text-16">WHITE LABEL POS</strong></h3>
                </div>
                <div class="brix---color-neutral-831">
                  <div class="description">Fokus pada lebih banyak peluang bisnis bagi mitra untuk memiliki sistem POS yang dilengkapi dengan fitur yang komprehensif dalam layanan SAAS seperti plug and play untuk semua mitra.<br /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-18 w-slide">
            <div class="brix---inner-container-800px---center">
              <div class="brix---card-testimonial-v6-copy"><img sizes="100vw" srcset="/images/Ticketing-System-p-500.webp 500w, /images/Ticketing-System.webp 760w" alt="" src="/images/Ticketing-System.webp" loading="lazy" /></div>
              <div class="brix---text-center-5">
                <div class="brix---color-neutral-830">
                  <h3 class="brix---heading-h3-size-5"><strong class="bold-text-16">SISTEM TIKETING</strong></h3>
                </div>
                <div class="brix---color-neutral-831">
                  <div class="description">Solusi tiket terintegrasi seperti membuat, menjual, dan melacak tiket untuk berbagai acara, memastikan operasi yang lancar dan meningkatkan kepuasan pelanggan.<br /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="f-testimonial-l-arrow w-slider-arrow-left">
          <div class="f-icon-regular w-embed"><svg width="420" height="420" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.828 12.0001L14.657 14.8281L13.243 16.2431L9 12.0001L13.243 7.75708L14.657 9.17208L11.828 12.0001Z" fill="currentColor"></path>
            </svg>
          </div>
        </div>
        <div class="f-testimonial-r-arrow w-slider-arrow-right">
          <div class="f-icon-regular w-embed"><svg width="420" height="420" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.1718 12.0001L9.34277 9.17208L10.7568 7.75708L14.9998 12.0001L10.7568 16.2431L9.34277 14.8281L12.1718 12.0001Z" fill="currentColor"></path>
            </svg>
          </div>
        </div>
        <div class="f-slide-nav-hidden w-slider-nav w-round"></div>
      </div>
    </div>
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f70" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="spark-flex-row-2 spark-left-aligned-copy-copy center">
          <a data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f73" href="https://www.solution.youtap.id/" target="_blank" class="yt-button secondary-button rounded w-button">Kunjungi solutions.youtap.id</a>
          <a href="https://www.solution.youtap.id/contact-us" target="_blank" class="yt-button secondary-button rounded hover w-button">Hubungi kami</a>
        </div>
      </div>
    </div>
  </div>
</div>
