---
---
<div class="section-testimony">
  <div class="brix---container-default-4 w-container">
    <div class="headline-text left">
      <div class="head-2">
        <h4 class="title left"><strong class="bold">Testimoni</strong></h4>
      </div>
    </div>
    <div data-delay="4000" data-animation="slide" class="brix---slider-wrapper w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f7e" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="brix---slider-mask-width-1012px w-slider-mask">
        <div class="brix---slide-item-mg w-slide">
          <div class="w-layout-grid uui-testimonial10_component">
            <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f82" class="uui-testimonial10_lightbox w-inline-block">
              <img width="Auto" height="Auto" alt="" src="/images/HOTDOGLAB.jpg" loading="lazy" srcset="/images/HOTDOGLAB-p-500.jpg 500w, /images/HOTDOGLAB.jpg 640w" sizes="100vw" class="uui-testimonial10_lightbox-image" />
            </div>
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475f86-77ab9dc1" class="uui-testimonial10_content">
              <h3 class="h3-heading medium">Saya bisa cek semua transaksi pakai YOUTAP BOS. Kasir saya pakai Youtap POS untuk kelola usaha.</h3>
              <div class="uui-testimonial10_client">
                <div class="uui-testimonial10_client-info">
                  <div class="uui-heading-tiny-2">Zul</div>
                  <div class="text-p">Owner Hotdog Lab</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="brix---slide-item-mg w-slide">
          <div class="w-layout-grid uui-testimonial10_component">
            <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f9a" class="uui-testimonial10_lightbox w-inline-block">
              <img sizes="100vw" srcset="/images/ARFA-SUPPLIER-p-500.jpg 500w, /images/ARFA-SUPPLIER.jpg 640w" alt="" src="/images/ARFA-SUPPLIER.jpg" loading="lazy" class="uui-testimonial10_lightbox-image" />
            </div>
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475f9e-77ab9dc1" class="uui-testimonial10_content">
              <h3 class="h3-heading medium">Saya dapat ​cuan tambahan ​dengan join program ​<strong>Agen Ajak Cuan </strong>di ​<strong>Youtap BOS.</strong>​</h3>
              <div class="uui-testimonial10_client">
                <div class="uui-testimonial10_client-info">
                  <div class="uui-heading-tiny-2">Gilang</div>
                  <div class="text-p">Owner ARFA Supplier</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="brix---slide-item-mg w-slide">
          <div class="w-layout-grid uui-testimonial10_component">
            <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475fc5" class="uui-testimonial10_lightbox w-inline-block">
              <img sizes="100vw" srcset="/images/IRNA-FLO-p-500.jpg 500w, /images/IRNA-FLO.jpg 640w" alt="" src="/images/IRNA-FLO.jpg" loading="lazy" class="uui-testimonial10_lightbox-image" />
            </div>
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475fc9-77ab9dc1" class="uui-testimonial10_content">
              <h3 class="h3-heading medium">Dengan Aplikasi ​<strong>Youtap BOS, </strong>​Saya bisa mudah ​ngecek <strong>stok barang </strong>​dan semua <strong>penjualan </strong>reseller saya​</h3>
              <div class="uui-testimonial10_client">
                <div class="uui-testimonial10_client-info">
                  <div class="uui-heading-tiny-2">Irna</div>
                  <div class="text-p">Owner Irna Flo JGlow</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="brix---btn-slider-arrow-left---testimonial-v12 w-slider-arrow-left"><img loading="lazy" src="/images/left-arrow-line-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="image-103" /></div>
      <div class="brix---btn-slider-arrow-right---testimonial-v12 w-slider-arrow-right"><img loading="lazy" src="/images/right-arrow-line-icon-elements-brix-templates.svg" alt="Icon - Elements Webflow Library - BRIX Templates" class="image-104" /></div>
      <div class="brix---hidden-desktop w-slider-nav"></div>
    </div>
  </div>
</div>
