---
---
<section id="youtap-loyalty" class="section-youtap-loyalty bg-biru">
  <div class="youtap---container w-container">
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475ef5" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left white"><strong>Youtap Loyalitas</strong></h2>
          <div class="sub-head white">Tingkatkan loyalitas pelanggan dengan sistem voucher</div>
        </div>
      </div>
    </div>
    <div class="container-loyalty">
      <div class="w-layout-grid uui-cta02_component-2">
        <div class="uui-cta02_image-wrapper"><img loading="lazy" src="/images/BOS-Laporan.png" alt="iPhone mockup" class="uui-cta02_image-02" /><img sizes="(max-width: 479px) 288px, (max-width: 767px) 60vw, (max-width: 991px) 47vw, 462px" srcset="/images/Loyalty-Reward-p-500.png 500w, /images/Loyalty-Reward-p-800.png 800w, /images/Loyalty-Reward-p-1080.png 1080w, /images/Loyalty-Reward-p-1600.png 1600w, /images/Loyalty-Reward.png 1958w" alt="MacBook mockup" src="/images/Loyalty-Reward.png" loading="lazy" class="uui-cta02_image-01 shadow-xxlarge hide-mobile-landscape" /></div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Loyalty-Reward-p-500.png 500w, /images/Loyalty-Reward-p-800.png 800w, /images/Loyalty-Reward-p-1080.png 1080w, /images/Loyalty-Reward-p-1600.png 1600w, /images/Loyalty-Reward.png 1958w" alt="Icon Loyalty Reward" src="/images/Loyalty-Reward.png" class="img-2-copy" />
        <div class="w-layout-grid uui-layout17_item-list">
          <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475f05-77ab9dc1" class="layout-2 with-underline">
            <div class="uui-layout17_item-text-wrapper">
              <h3 class="h3-heading medium white"><strong>Voucher Generator</strong></h3>
              <div class="uui-space-xxsmall-4"></div>
              <div class="description white">Kemudahan membuat dan mendistribusikan voucher untuk promosi, diskon, dan penawaran spesial. Memungkinkan bisnis untuk menghasilkan kode voucher unik yang dapat digunakan pelanggan, hingga membantu strategi marketing dan <em>engagement</em> pelanggan.</div>
            </div>
          </div>
          <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475f0e-77ab9dc1" class="layout-2">
            <div class="uui-layout17_item-text-wrapper">
              <h3 class="h3-heading medium white"><strong>Sistem Pembayaran Terpisah dengan Voucher</strong></h3>
              <div class="uui-space-xxsmall-4"></div>
              <div class="description white">Fasilitasi transaksi dengan mudah menggunakan voucher yang dapat digabungkan dengan metode pembayaran lainnya untuk memberikan fleksibilitas dan kenyamanan pelanggan ketika berbelanja.</div>
            </div>
          </div>
          <div class="spark-flex-row-2 spark-left-aligned-copy-copy left">
            <a data-w-id="17e3d935-1457-e95c-2a3a-6d06db475f18" href="#" class="btn-loyalty white w-button">Kunjungi loyalty.youtap.id</a>
            <a href="contact-us.html" class="yt-button secondary-button rounded hover dark w-button">Hubungi kami</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
