---
---
<section id="youtap-pos" class="section-youtap-pos bg-biru">
  <div class="youtap---container w-container">
    <div class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left white"><strong>Youtap POS</strong></h2>
          <div class="sub-head white">Aplikasi Kasir Digital untuk Membantu Mengelola Bisnis Anda</div>
          <div class="description white">Youtap menyediakan Solusi Terintegrasi untuk UMKM Indonesia. Aplikasi Kasir Digital Youtap untuk memberikan kemudahan dalam mengelola berbagai jenis bisnis mulai dari FnB, Ritel, hingga Layanan.</div>
        </div>
      </div>
    </div>
    <div class="w-layout-grid grid-new-youtap">
      <a href="#" class="youtap---solusi-card w-inline-block">
        <div class="brix---product-card-image-wrapper"><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Order-Management-p-500.jpg 500w, /images/Order-Management-p-800.jpg 800w, /images/Order-Management-p-1080.jpg 1080w, /images/Order-Management-p-1600.jpg 1600w, /images/Order-Management.jpg 2484w" alt="Order Management" src="/images/Order-Management.jpg" class="img-2" /></div>
        <div>
          <div class="brix---mg-top-32px">
            <div class="sub-head white"><strong>KASIR DIGITAL</strong></div>
            <p class="description white">Solusi untuk mengelola produk dan pesanan, dengan pembayaran tunai dan non-tunai, termasuk Manajemen Produk, Input Manual &amp; Kalkulator, Pembayaran Tunai &amp; Non-Tunai.</p>
          </div>
        </div>
      </a>
      <a href="#" class="youtap---solusi-card w-inline-block">
        <div class="brix---product-card-image-wrapper"><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Transcation-Dashboard-p-500.jpg 500w, /images/Transcation-Dashboard-p-800.jpg 800w, /images/Transcation-Dashboard-p-1080.jpg 1080w, /images/Transcation-Dashboard-p-1600.jpg 1600w, /images/Transcation-Dashboard.jpg 2592w" alt="Transaction Dashboard" src="/images/Transcation-Dashboard.jpg" class="img-2" /></div>
        <div>
          <div class="brix---mg-top-32px">
            <div class="sub-head white"><strong>LAPORAN TRANSAKSI</strong></div>
            <p class="description white">Pantau riwayat transaksi dengan mudah. Terima Ringkasan Laporan Harian melalui WhatsApp, dan dapatkan insight komprehensif yang dapat di <em>download</em>.</p>
          </div>
        </div>
      </a>
      <a href="#" class="youtap---solusi-card w-inline-block">
        <div class="brix---product-card-image-wrapper"><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Advance-Features-p-500.jpg 500w, /images/Advance-Features-p-800.jpg 800w, /images/Advance-Features-p-1080.jpg 1080w, /images/Advance-Features-p-1600.jpg 1600w, /images/Advance-Features.jpg 2484w" alt="Advance Features" src="/images/Advance-Features.jpg" class="img-2" /></div>
        <div>
          <div class="brix---mg-top-32px">
            <div class="sub-head white"><strong>FITUR DIGITAL</strong></div>
            <p class="description white">Nikmati berbagai fitur terlengkap untuk mengembangkan bisnis Anda, mulai dari Buat Tagihan, Manajemen Stok, Produk Varian, Stok Bahan Baku, Manajemen Pengguna &amp; Pesanan Online.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="walsh-container-4">
      <div class="glass-block">
        <div class="w-layout-grid walsh-main-grid-3">
          <h2 class="title left white custom title-banner-pos">Kemudahan Mengelola Bisnis dengan Youtap POS</h2>
          <div class="spark-flex-row-2 spark-left-aligned-copy">
            <a href="https://play.google.com/store/apps/details?id=id.youtap.merchant.tablet&amp;hl=en" target="_blank" class="yt-button secondary-button rounded orange w-button">Download Youtap POS</a>
            <a href="https://www.pos.youtap.id/" target="_blank" class="yt-button secondary-button rounded transparent w-button">Kunjungi pos.youtap.id</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
