---
---
<div id="youtap-kiosk" class="section-youtap-kiosk">
  <div class="youtap---container w-container">
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475ebb" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left"><strong class="bold">Youtap KIOSK</strong></h2>
          <div class="sub-head normal">Tingkatkan pelayanan kepada pelanggan dengan menyederhanakan operasional bisnis</div>
        </div>
      </div>
    </div>
    <div class="container-kiosk w-container">
      <div class="w-layout-grid brix---grid-2-columns-text-left">
        <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475ec6" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
          <div class="w-layout-grid brix---grid-2-columns-top">
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475ec8-77ab9dc1">
              <div class="brix---mg-bottom-8px-4">
                <div class="brix---color-neutral-830-copy">
                  <div class="brix---mg-bottom-24px-5-copy">
                    <h3 class="brix---heading-h4-size-2-copy"><strong class="bold-text-24">Sistem <em>Self-Order</em></strong></h3>
                    <div class="div-block-5"></div><img alt="" src="/images/BERAGAM-PRODUK.png" class="brix---square-icon-2" />
                  </div>
                </div>
              </div>
              <div class="brix---color-neutral-831">
                <div class="description kiosk-desc">Memungkinkan pelanggan untuk melakukan pemesanan self-order untuk makan di tempat dan ambil sendiri dengan pembayaran tunai atau non tunai.<br /></div>
              </div>
            </div>
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475ed5-77ab9dc1">
              <div class="brix---mg-bottom-8px-4">
                <div class="brix---color-neutral-830-copy">
                  <div class="brix---mg-bottom-24px-5-copy">
                    <h3 class="brix---heading-h4-size-2-copy"><strong>Proses Pesanan &amp; Laporan</strong></h3><img alt="" src="/images/REGIST.png" class="brix---square-icon-2" />
                  </div>
                </div>
              </div>
              <div class="brix---color-neutral-831">
                <div class="description kiosk-desc">Proses pesanan Anda &amp; dapatkan laporan waktu penyediaan pesanan langsung di portal.<br /></div>
              </div>
            </div>
            <div id="w-node-_17e3d935-1457-e95c-2a3a-6d06db475ee1-77ab9dc1">
              <div class="brix---mg-bottom-8px-4">
                <div class="brix---color-neutral-830-copy">
                  <div class="brix---mg-bottom-24px-5-copy">
                    <h3 class="brix---heading-h4-size-2-copy">Kustomisasi Banner untuk Promosi</h3><img alt="" src="/images/PROMOTE.png" class="brix---square-icon-2" />
                  </div>
                </div>
              </div>
              <div class="brix---color-neutral-831">
                <div class="description kiosk-desc">Sesuaikan banner sebagai bagian dari stratefgi promosi pemasaran untuk meningkatkan penjualan.</div>
              </div>
            </div>
          </div>
          <div class="spark-flex-row-2 spark-left-aligned-copy-copy copy">
            <a href="https://www.kiosk.youtap.id/" target="_blank" class="yt-button secondary-button rounded youtap-kios w-button">Kunjungi kiosk.youtap.id</a>
            <a href="https://www.kiosk.youtap.id/contact-us" target="_blank" class="yt-button secondary-button rounded hover w-button">Hubungi kami</a>
          </div>
        </div>
        <div><img src="/images/self-kios.gif" loading="lazy" alt="" /></div>
      </div>
    </div>
  </div>
</div>
