---
---
<div id="youtap-pay" class="section-youtap-pay bg-biru">
  <div class="youtap---container w-container">
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475e94" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left white"><strong>Youtap PAY</strong></h2>
          <div class="sub-head white">Solusi Sistem Pembayaran untuk Enterprise</div>
        </div>
        <div class="spark-flex-row-2 spark-left-aligned-copy-copy copy">
          <a href="https://www.payment.youtap.id/" target="_blank" class="yt-button secondary-button rounded youtap-payment w-button">Kunjungi payment.youtap.id</a>
          <a href="https://www.payment.youtap.id/contact" target="_blank" class="yt-button secondary-button rounded hover w-button">Hubungi kami</a>
        </div>
      </div>
    </div>
    <div data-w-id="17e3d935-1457-e95c-2a3a-6d06db475ea2" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid grid-new-youtap _2-grid">
      <a data-w-id="17e3d935-1457-e95c-2a3a-6d06db475ea3" href="#" class="youtap---solusi-card w-inline-block">
        <div class="brix---product-card-image-wrapper"><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Youtap-Pay-Rev-p-500.jpg 500w, /images/Youtap-Pay-Rev-p-800.jpg 800w, /images/Youtap-Pay-Rev-p-1080.jpg 1080w, /images/Youtap-Pay-Rev-p-1600.jpg 1600w, /images/Youtap-Pay-Rev-p-2000.jpg 2000w, /images/Youtap-Pay-Rev-p-2600.jpg 2600w, /images/Youtap-Pay-Rev.jpg 3734w" alt="Youtap Pay" src="/images/Youtap-Pay-Rev.jpg" class="img-2" /></div>
        <div>
          <div class="brix---mg-top-32px">
            <div class="sub-head white"><strong>POS Lite dengan tampilan menarik untuk penerimaan pembayaran</strong></div>
            <p class="description white">Buat pesanan dengan mudah menggunakan fitur kalkulator digital  terima pembayaran non tunai dengan MPM atau CPM QRIS.</p>
          </div>
        </div>
      </a>
      <a data-w-id="17e3d935-1457-e95c-2a3a-6d06db475eae" href="#" class="youtap---solusi-card w-inline-block">
        <div class="brix---product-card-image-wrapper"><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 49vw, (max-width: 991px) 47vw, 462px" srcset="/images/Portal-Dashboard-p-500.png 500w, /images/Portal-Dashboard-p-800.png 800w, /images/Portal-Dashboard.png 1214w" alt="" src="/images/Portal-Dashboard.png" class="img-2" /></div>
        <div>
          <div class="brix---mg-top-32px">
            <div class="sub-head white"><strong class="bold">Portal dan Laporan</strong><br /></div>
            <p class="description white">Dapatkan riwayat transaksi dan laporan waktu real time di portal usaha Anda.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
