---
---
<section id="youtap-bos" class="section-youtap-bos">
  <div class="youtap---container w-container">
    <div class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="head-2">
          <h2 class="title left"><strong class="bold">Youtap BOS</strong></h2>
          <div class="sub-head normal">Solusi Belanja Stok untuk Penuhi Kebutuhan Usaha</div>
        </div>
      </div>
    </div>
    <div class="container-image"><img sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 940px" srcset="/images/BOS-BANNER-p-500.webp 500w, /images/BOS-BANNER-p-800.webp 800w, /images/BOS-BANNER-p-1080.webp 1080w, /images/BOS-BANNER-p-1600.webp 1600w, /images/BOS-BANNER-p-2000.webp 2000w, /images/BOS-BANNER.webp 2440w" alt="" src="/images/BOS-BANNER.webp" class="youtap-image" /></div>
    <div class="description">Temukan cara cepat dan praktis untuk belanja kebutuhan usaha di Youtap BOS sebagai solusi stok bahan baku usaha.  Dapatkan produk terlengkap, termurah, dan pengiriman tercepat.</div>
    <div class="youtap---inner-container left">
      <div class="headline-text left">
        <div class="spark-flex-row-2 spark-left-aligned-copy-copy copy cta_bos">
          <a href="https://www.ecommerce.youtap.id/" target="_blank" class="yt-button secondary-button rounded youtap-ecommerce w-button">Kunjungi ecommerce.youtap.id</a>
          <link rel="prerender" href="https://www.ecommerce.youtap.id/" />
          <a href="https://play.google.com/store/apps/details?id=com.youtap.indo.merchant&amp;hl=id" target="_blank" class="yt-button secondary-button rounded orange w-button">Download</a>
        </div>
      </div>
    </div>
  </div>
  <section class="section-22">
    <div class="w-layout-blockcontainer youtap---container w-container">
      <div class="head-2">
        <div class="sub-head normal bold title-desc-bos">Beragam Pilihan Produk dari Supplier Lokal dan Nasional Terpercaya</div>
      </div>
      <div class="description desc-bos">Temukan <strong>berbagai macam produk </strong>dari pemasok lokal dan nasional terpercaya. Nikmati <strong>produk berkualitas tinggi dengan harga yang kompetitif.</strong></div>
      <div class="w-layout-blockcontainer main-container-2 w-container">
        <div class="brand-logo-wrapper">
          <div class="client-logo-slider-wrapper">
            <div class="merchant-slider">
              <div class="items-2"><img loading="eager" src="/images/Best-Meat-Logo.png" alt="Brnad Logo" class="item-2" /><img loading="eager" alt="Brnad Logo" src="/images/rrrrrr.png" class="item-2" /><img sizes="100vw" srcset="/images/Campina-Logo-p-500.png 500w, /images/Campina-Logo.png 767w" alt="Brnad Logo" src="/images/Campina-Logo.png" loading="eager" class="item-2" /><img sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 786px" srcset="/images/DIAMOND-FAIR_1-p-500.png 500w, /images/DIAMOND-FAIR_1-p-800.png 800w, /images/DIAMOND-FAIR_1-p-1080.png 1080w, /images/DIAMOND-FAIR_1-p-1600.png 1600w, /images/DIAMOND-FAIR_1.png 1638w" alt="Brnad Logo" src="/images/DIAMOND-FAIR_1.png" loading="eager" class="item-2" /><img sizes="100vw" srcset="/images/Dima-Logo-p-500.png 500w, /images/Dima-Logo.png 919w" alt="Brnad Logo" src="/images/Dima-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Erajaya-Logo-p-500.png 500w, /images/Erajaya-Logo.png 669w" alt="Brnad Logo" src="/images/Erajaya-Logo.png" loading="eager" class="item-2 _60px" /><img sizes="(max-width: 767px) 100vw, 504px" srcset="/images/Garudafood-Logo-p-500.png 500w, /images/Garudafood-Logo.png 1050w" alt="Brnad Logo" src="/images/Garudafood-Logo.png" loading="eager" class="item-2 _40px" /><img loading="eager" src="/images/GD-Tech-Logo.png" alt="Brnad Logo" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 388px" srcset="/images/Indofood-Beverages-Logo-p-500.png 500w, /images/Indofood-Beverages-Logo.png 809w" alt="Brnad Logo" src="/images/Indofood-Beverages-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 457px" srcset="/images/Indomarco-Logo-p-500.png 500w, /images/Indomarco-Logo.png 952w" alt="Brnad Logo" src="/images/Indomarco-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Nutrifood-Logo-p-500.png 500w, /images/Nutrifood-Logo.png 669w" alt="Brnad Logo" src="/images/Nutrifood-Logo.png" loading="eager" class="item-2 _60px" /><img loading="eager" src="/images/Otto-Pay.png" alt="Brnad Logo" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Prima-Logo-p-500.png 500w, /images/Prima-Logo.png 669w" alt="Brnad Logo" src="/images/Prima-Logo.png" loading="eager" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Sari-Roti-Logo-p-500.png 500w, /images/Sari-Roti-Logo.png 669w" alt="Brnad Logo" src="/images/Sari-Roti-Logo.png" loading="eager" class="item-2 _60px" /><img loading="eager" src="/images/Sosro-Logo.png" alt="Brnad Logo" class="item-2 _60px" /></div>
              <div class="items-2"><img loading="eager" src="/images/Best-Meat-Logo.png" alt="Brnad Logo" class="item-2" /><img loading="eager" alt="Brnad Logo" src="/images/rrrrrr.png" class="item-2" /><img sizes="100vw" srcset="/images/Campina-Logo-p-500.png 500w, /images/Campina-Logo.png 767w" alt="Brnad Logo" src="/images/Campina-Logo.png" loading="eager" class="item-2" /><img sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 786px" srcset="/images/DIAMOND-FAIR_1-p-500.png 500w, /images/DIAMOND-FAIR_1-p-800.png 800w, /images/DIAMOND-FAIR_1-p-1080.png 1080w, /images/DIAMOND-FAIR_1-p-1600.png 1600w, /images/DIAMOND-FAIR_1.png 1638w" alt="Brnad Logo" src="/images/DIAMOND-FAIR_1.png" loading="eager" class="item-2" /><img sizes="100vw" srcset="/images/Dima-Logo-p-500.png 500w, /images/Dima-Logo.png 919w" alt="Brnad Logo" src="/images/Dima-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Erajaya-Logo-p-500.png 500w, /images/Erajaya-Logo.png 669w" alt="Brnad Logo" src="/images/Erajaya-Logo.png" loading="eager" class="item-2 _60px" /><img sizes="(max-width: 767px) 100vw, 504px" srcset="/images/Garudafood-Logo-p-500.png 500w, /images/Garudafood-Logo.png 1050w" alt="Brnad Logo" src="/images/Garudafood-Logo.png" loading="eager" class="item-2 _40px" /><img loading="eager" src="/images/GD-Tech-Logo.png" alt="Brnad Logo" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 388px" srcset="/images/Indofood-Beverages-Logo-p-500.png 500w, /images/Indofood-Beverages-Logo.png 809w" alt="Brnad Logo" src="/images/Indofood-Beverages-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 457px" srcset="/images/Indomarco-Logo-p-500.png 500w, /images/Indomarco-Logo.png 952w" alt="Brnad Logo" src="/images/Indomarco-Logo.png" loading="eager" class="item-2 _40px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Nutrifood-Logo-p-500.png 500w, /images/Nutrifood-Logo.png 669w" alt="Brnad Logo" src="/images/Nutrifood-Logo.png" loading="eager" class="item-2 _60px" /><img loading="eager" src="/images/Otto-Pay.png" alt="Brnad Logo" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Prima-Logo-p-500.png 500w, /images/Prima-Logo.png 669w" alt="Brnad Logo" src="/images/Prima-Logo.png" loading="eager" class="item-2 _60px" /><img sizes="(max-width: 479px) 100vw, 321px" srcset="/images/Sari-Roti-Logo-p-500.png 500w, /images/Sari-Roti-Logo.png 669w" alt="Brnad Logo" src="/images/Sari-Roti-Logo.png" loading="eager" class="item-2 _60px" /><img loading="eager" src="/images/Sosro-Logo.png" alt="Brnad Logo" class="item-2 _60px" /></div>
            </div>
            <div class="css-code w-embed">
              <style>
.merchant-slider {
  animation: moveSlideshow 120s linear infinite;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-70.8%);  
  }
}
</style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
