---
// src/components/Footer.astro
---
<div class="footer-menu">
  <div class="tnc w-container">
    <section class="uui-section_logos04">
      <div class="uui-text-align-center-6">
        <div class="uui-max-width-large-8 align-center">
          <h4 class="heading-99">Awarded</h4>
        </div>
      </div>
      <section class="copy-this-entire-section">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="brand-logo-wrapper">
            <div class="client-logo-slider-wrapper">
              <div class="client-logo-slider">
                <div class="items"><img loading="eager" alt="Brnad Logo" src="/images/1.png" class="item" /><img loading="eager" src="/images/2.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/3.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/4.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/6.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/5.png" alt="Brnad Logo" class="item" /></div>
                <div class="items"><img loading="eager" alt="Brnad Logo" src="/images/1.png" class="item" /><img loading="eager" src="/images/2.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/3.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/4.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/6.png" alt="Brnad Logo" class="item" /><img loading="eager" src="/images/5.png" alt="Brnad Logo" class="item" /></div>
              </div>
              <div class="css-code w-embed">
                <style>
.client-logo-slider {
animation: moveSlideshow 20s linear infinite;
}
@keyframes moveSlideshow {
100% { 
  transform: translateX(-50.8%);  
}
}
</style>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="footer-wrapper">
      <div class="line-divider-footer"></div>
      <div class="w-layout-grid grid">
        <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0b0-936cf07b" class="div-block-33">
          <a href="#" class="link-block-2 w-inline-block"></a>
          <div class="text-block-6">PT. Mitra Digital Sukses</div>
          <p class="paragraph-5">Jl. Prof. DR. Soepomo No.2, RT.10/RW.15, Menteng Dalam, Kec. Tebet, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12870</p>
          <div class="text-block-6"><strong class="bold-text-18">Layanan Pengaduan Konsumen:</strong></div>
          <p class="paragraph-5">Direktorat Jenderal Perlindungan Konsumen dan Tertib Niaga Kementerian Perdagangan Republik Indonesia<br/>WA/Telp: 0811 1310 9357<br/></p>
        </div>
        <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf07e-936cf07b" class="wrapper-link-footer">
          <ul role="list" class="list w-list-unstyled"></ul>
          <a href="#" class="list-category-footer">Produk</a>
          <ul role="list" class="list w-list-unstyled">
            <li class="list-item">
              <a href="https://www.pos.youtap.id/" class="link">Youtap POS</a>
            </li>
            <li class="list-item">
              <a href="https://www.ecommerce.youtap.id/" class="link">Youtap BOS</a>
            </li>
            <li class="list-item">
              <a href="https://www.payment.youtap.id/" class="link">Youtap Pay</a>
            </li>
            <li class="list-item">
              <a href="https://www.kiosk.youtap.id/" class="link">Youtap Kiosk</a>
            </li>
            <li class="list-item">
              <a href="https://www.solution.youtap.id/" target="_blank" class="link">Youtap Solution</a>
            </li>
            <li class="list-item">
              <a href="#" target="_blank" class="link">Youtap Loyalty</a>
            </li>
          </ul>
        </div>
        <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf09e-936cf07b" class="wrapper-link-footer">
          <ul role="list" class="list w-list-unstyled"></ul>
          <h5 class="heading-6"></h5>
          <ul role="list" class="list w-list-unstyled">
            <li class="list-item">
              <a href="/about-us" class="link">Tentang Youtap</a>
            </li>
            <li class="list-item">
              <a href="/contact-us" class="link">Hubungi Kami</a>
            </li>
            <li class="list-item">
              <a href="/blogs" class="link">Blog</a>
            </li>
          </ul>
        </div>
        <div id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0ab-936cf07b" class="div-block-34">
          <h5 id="w-node-daed6be1-5984-6cb2-ddf7-c37a936cf0ac-936cf07b" class="heading-6">Follow Us!</h5>
          <div id="w-node-_00b799b0-f3fe-7691-d29e-e31a40b0e26d-936cf07b" class="sosmed-div-block">
            <a href="https://www.facebook.com/youtapindonesia/" target="_blank" class="sosmed w-inline-block"><img src="/images/Facebook.png" loading="lazy" alt="" /></a>
            <a href="https://twitter.com/Youtapid" target="_blank" class="sosmed w-inline-block"><img src="/images/Twitter.png" loading="lazy" alt="" /></a>
            <a href="https://www.instagram.com/youtap.id/" target="_blank" class="sosmed w-inline-block"><img src="/images/Instagram.png" loading="lazy" alt="logo instagram youtap" /></a>
            <a href="https://id.linkedin.com/company/youtap-indonesia" target="_blank" class="sosmed w-inline-block"><img src="/images/LinkedIn.png" loading="lazy" alt="logo linkedin youtap" /></a>
            <a href="https://www.youtube.com/c/YoutapID" target="_blank" class="sosmed w-inline-block"><img src="/images/Youtube.png" loading="lazy" alt="" /></a>
            <a href="https://www.tiktok.com/@youtap.id" target="_blank" class="w-inline-block"><img src="/images/logo-tiktok-youtap.webp" loading="lazy" width="28" alt="logo instagram youtap" /></a>
          </div>
          <div class="div-block-93">
            <a href="https://tabletyoutap.onelink.me/kxXH/floatingbutton" target="_blank" class="google-play-floating link-block-6 w-inline-block"></a>
            <a href="https://tabletyoutap.onelink.me/kxXH/floatingbutton" target="_blank" class="app-store-floating link-block-7 w-inline-block"></a>
          </div>
          <h5 class="heading-6"></h5>
          <div class="legal">
            <a href="https://www.bsigroup.com/en-GB/products-and-services/assessment-and-certification/validation-and-verification/client-directory-certificate/IS%20749131?_ga=2.257632079.578339919.1720695893-461820065.1704337745&amp;_gl=1*1bp9n8f*_gcl_au*NTY3NjExMDEwLjE3MTc5OTM4NzA.*_ga*NDYxODIwMDY1LjE3MDQzMzc3NDU.*_ga_RWDQ3VY9NQ*MTcyMDc0ODg1My41My4wLjE3MjA3NDg4NTMuMC4wLjA." target="_blank" class="iso w-inline-block"></a>
            <a id="w-node-c2483764-3b84-92de-c53c-7226dae5653d-936cf07b" href="https://fintech.id/id/member/detail/685" target="_blank" class="fi w-inline-block"></a>
            <a id="w-node-fc7c8294-28c5-7377-cf8e-9553c1be3039-936cf07b" href="https://pse.kominfo.go.id/tdpse-detail/2035" target="_blank" class="kominfo w-inline-block"></a>
            <a id="w-node-fd02970a-b41f-2e0e-c1ab-dd2687ad2bb9-936cf07b" href="https://anggota.kadin-indonesia.com/DaftarAnggotaBiasa/view/00003776" target="_blank" class="kadin2 w-inline-block"></a>
          </div>
        </div>
      </div>
      <div class="line-footer-bottom"></div>
      <div class="div-block-69">
        <a href="/syarat-ketentuan" class="link">Terms &amp; Condition</a>
        <a href="/kebijakan-privasi" class="link">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
