---
// src/components/Navbar.astro
---
<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="312f39d8-9b11-3f4a-d770-0dc891a966e6" data-easing="ease" data-easing2="ease" role="banner" class="new-navbar w-nav">
  <div class="youtap-menu">
    <a href="/" aria-current="page" class="youtap-logo w-nav-brand w--current"><img width="Auto" height="Auto" alt="Logo Youtap Indonesia" src="/images/LOGO-youtap-BARU_BLUE.png" loading="lazy" srcset="/images/LOGO-youtap-BARU_BLUE-p-500.png 500w, /images/LOGO-youtap-BARU_BLUE-p-800.png 800w, /images/LOGO-youtap-BARU_BLUE-p-1080.png 1080w, /images/LOGO-youtap-BARU_BLUE-p-1600.png 1600w, /images/LOGO-youtap-BARU_BLUE-p-2000.png 2000w, /images/LOGO-youtap-BARU_BLUE.png 2405w" sizes="100vw" class="image-123" /></a>
    <nav role="navigation" class="spark-nav-menu-3 w-nav-menu">
      <div data-delay="0" data-hover="true" class="spark-full-width-mobile-2 w-dropdown">
        <div class="spark-nav-link-5 produk w-dropdown-toggle">
          <div class="text-block-74">Produk</div>
          <div class="icon-dropwodn w-icon-dropdown-toggle"></div>
        </div>
        <nav class="spark-dropdown-list w-dropdown-list">
          <div class="block-link-product">
            <a href="https://www.pos.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap POS</a>
            <div class="text-block-136">Aplikasi Kasir Digital Terlengkap</div>
          </div>
          <div class="block-link-product">
            <a href="https://ecommerce.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap BOS</a>
            <div class="text-block-136">Solusi Terlengkap untuk Belanja Kebutuhan Usaha</div>
          </div>
          <div class="block-link-product">
            <a href="https://www.solution.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Solution</a>
            <div class="text-block-136">Solusi Sistem Pembayaran untuk Enterprise</div>
          </div>
          <div class="block-link-product">
            <a href="https://www.kiosk.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap KIOSK</a>
            <div class="text-block-136">Solusi Self Ordering Kiosk dengan Harga Terjangkau</div>
          </div>
          <div class="block-link-product">
            <a href="https://youtap-loyalty.webflow.io/" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Loyalty</a>
            <div class="text-block-136">Solusi Sistem Voucher untuk Loyalitas Pelanggan</div>
          </div>
          <div class="block-link-product">
            <a href="https://www.payment.youtap.id/" target="_blank" class="spark-dropdown-link-3 navbar-youtap w-dropdown-link">Youtap Pay</a>
            <div class="text-block-136">Solusi Sistem Pembayaran untuk Enterprise Bisnis</div>
          </div>
        </nav>
      </div>
      <a href="/blogs" class="link-block-39 w-inline-block">
        <div class="text-youtap-nav no-dropdown">Blog</div>
      </a>
      <a href="/about-us" class="link-block-39 w-inline-block">
        <div class="text-youtap-nav no-dropdown">Tentang Kami</div>
      </a>
      <a href="/contact-us" class="link-block-39 w-inline-block">
        <div class="text-youtap-nav no-dropdown">Hubungi Kami</div>
      </a>
      <div class="w-locales-list">
        <div data-delay="0" data-hover="true" class="dropdown w-dropdown">
          <div class="spark-nav-link-5 lang-dropdwon w-dropdown-toggle">
            <div class="icon-dropwodn w-icon-dropdown-toggle"></div>
            <div class="text-block-74">Bahasa</div>
          </div>
          <nav class="w-dropdown-list">
            <div role="list" class="w-locales-items">
              <div role="listitem" class="w-locales-item">
                <a hreflang="id" href="#" class="wg-dropdown-1-link w-inline-block"><img loading="lazy" src="/images/Flag_of_Indonesia.png" alt="icon bahasa indonesia" class="lang-img" />
                  <div class="text-block-155">id</div>
                </a>
              </div>
              <div role="listitem" class="w-locales-item">
                <a hreflang="en-US" href="#" class="wg-dropdown-1-link w-inline-block"><img loading="lazy" src="/images/Eng-flag.png" alt="icon bahasa inggris" class="lang-img" />
                  <div class="text-block-155">en</div>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </nav>
    <div data-ix="simple-menu-button" class="spark-simple-menu-button-4 w-nav-button">
      <div class="spark-line-23 spark-simple-line"></div>
      <div class="spark-line-24 spark-simple-line"></div>
      <div class="spark-line-20 spark-simple-line"></div>
    </div>
  </div>
</div>
