---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Paket Usaha Romie dan Franchise di Youtap BOS" description="Informasi seputar paket usaha romie dan  franchise lainnya untuk pemula yang ingin memulai usaha. Beli paket usaha dan franchise harga terjangkau di Youtap BOS!">

  <section class="uui-section_layout84">
    <a href="#" target="_blank" class="link-block-15 w-inline-block"><img src="../images/Hero-Banner-ROMIE.jpg" loading="lazy" sizes="100vw" srcset="../images/Hero-Banner-ROMIE-p-500.jpg 500w, ../images/Hero-Banner-ROMIE-p-800.jpg 800w, ../images/Hero-Banner-ROMIE-p-1080.jpg 1080w, ../images/Hero-Banner-ROMIE-p-1600.jpg 1600w, ../images/Hero-Banner-ROMIE.jpg 1920w" alt="" class="image-63" /></a>
  </section>
  <section class="uui-section_layout84">
    <div class="uui-page-padding-5">
      <div class="uui-container-large-5">
        <div class="uui-padding-vertical-xhuge-5">
          <div class="uui-layout84_component">
            <div class="uui-text-align-center-3">
              <div class="uui-max-width-large-5-copy">
                <div class="uui-space-xsmall-4"></div>
              </div>
              <div class="div-block-1176">
                <h1 class="uui-heading-medium-4">DAFTAR HARGA PAKET USAHA ROMIE</h1>
                <div class="w-layout-grid uui-pricing11_top-row-copy">
                  <div class="uui-pricing11_top-row-content-copy">
                    <div>
                      <div class="uui-pricing11_plan-name-wrapper">
                        <h2 class="uui-heading-xxsmall-copy">Paket Usaha ROMIE</h2>
                      </div>
                      <div class="uui-text-size-small-copy"><strong class="bold-text-13">(Booth + Bahan Baku + <br />Paket Extra Mantap Youtap)</strong></div>
                      <div class="uui-pricing11_price-copy">Rp4.999<span class="uui-pricing11_price-text">juta</span></div>
                    </div>
                    <div class="uui-space-medium"></div>
                    <a href="https://bit.ly/Beli_PaketUsaha_Romie" class="uui-button w-inline-block">
                      <div>Beli Sekarang</div>
                    </a>
                  </div>
                  <div class="uui-pricing11_top-row-content-copy">
                    <div>
                      <div class="uui-pricing11_plan-name-wrapper">
                        <h2 class="uui-heading-xxsmall-copy">Paket Usaha ROMIE PLUS</h2>
                      </div>
                      <div class="uui-text-size-small-copy"><strong class="bold-text-13">(Booth + Bahan Baku + Peralatan Usaha<br />Paket Extra Mantap Youtap)</strong></div>
                      <div class="uui-pricing11_price-copy">Rp5.999<span class="uui-pricing11_price-text">juta</span></div>
                    </div>
                    <div class="uui-space-medium"></div>
                    <a href="https://bit.ly/Beli_Romie_PLUS" class="uui-button w-inline-block">
                      <div>Beli Sekarang</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-layout-grid uui-layout84_content-bottom">
              <div id="w-node-_68356918-1232-9896-f9a7-e01226af55b9-ffb4539d" class="w-layout-grid uui-layout84_left">
                <div class="uui-layout84_item"><img src="../images/KOMISI.png" loading="lazy" alt="" class="ajak-cuan-icon" />
                  <div class="uui-space-small-2"></div>
                  <h3 class="uui-heading-xxsmall-2">Komisi Jutaan Rupiah</h3>
                  <div class="uui-space-xxsmall"></div>
                  <div class="uui-text-size-medium-5">Dapatkan komisi berlimpah hingga 30%</div>
                </div>
                <div class="uui-layout84_item"><img src="../images/REGIST.png" loading="lazy" alt="" class="ajak-cuan-icon" />
                  <div class="uui-space-small-2"></div>
                  <h3 class="uui-heading-xxsmall-2">Syaratnya Mudah</h3>
                  <div class="uui-space-xxsmall"></div>
                  <div class="uui-text-size-medium-5">Cukup download aplikasi Youtap BOS dan daftar </div>
                </div>
              </div>
              <div id="w-node-_68356918-1232-9896-f9a7-e01226af55ca-ffb4539d" class="uui-layout84_image-wrapper"><img src="../images/AJAK-CUAN-BENEFIT.png" loading="lazy" srcset="../images/AJAK-CUAN-BENEFIT-p-500.png 500w, ../images/AJAK-CUAN-BENEFIT.png 946w" sizes="100vw" alt="iPhone mockup" class="uui-layout84_image" /></div>
              <div id="w-node-_68356918-1232-9896-f9a7-e01226af55cc-ffb4539d" class="w-layout-grid uui-layout84_right">
                <div class="uui-layout84_item"><img src="../images/BERAGAM-PRODUK.png" loading="lazy" alt="" class="ajak-cuan-icon" />
                  <div class="uui-space-small-2"></div>
                  <h3 class="uui-heading-xxsmall-2">Banyak Beragam Produk</h3>
                  <div class="uui-space-xxsmall"></div>
                  <div class="uui-text-size-medium-5">Banyak jenis produk yang bisa dibagikan untuk mendapat cuan berlimpah</div>
                </div>
                <div class="uui-layout84_item"><img src="../images/PROMOTE.png" loading="lazy" alt="" class="ajak-cuan-icon" />
                  <div class="uui-space-small-2"></div>
                  <h3 class="uui-heading-xxsmall-2">Cara Promosi Mudah</h3>
                  <div class="uui-space-xxsmall"></div>
                  <div class="uui-text-size-medium-5">Cara promosinya sangat mudah, cukup dengan share/bagikan link produk ke teman-temanmu</div>
                </div>
              </div>
            </div>
            <div class="uui-button-row-2 button-row-center is-reverse-mobile-landscape">
              <div class="uui-button-wrapper-3 max-width-full-mobile-landscape">
                <a href="#" class="uui-button-secondary-gray-copy w-inline-block">
                  <div>Get started</div>
                </a>
              </div>
              <div class="uui-button-wrapper-3 max-width-full-mobile-landscape">
                <a href="#" class="uui-button-4 w-inline-block">
                  <div>Learn more</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <header>
    <div>
      <div>
        <div class="div-block-1178">
          <div class="w-layout-grid grid-6">
            <div id="w-node-_77c692e6-4113-16a7-3c53-f231a861d9af-ffb4539d" class="div-block-1177"><img src="../images/ROTI-ROMIE.jpg" loading="lazy" sizes="(max-width: 479px) 46vw, (max-width: 767px) 29vw, (max-width: 991px) 45vw, (max-width: 1439px) 46vw, 47vw" srcset="../images/ROTI-ROMIE-p-500.jpg 500w, ../images/ROTI-ROMIE-p-800.jpg 800w, ../images/ROTI-ROMIE.jpg 1006w" alt="Header image" class="image-73" /></div>
            <div id="w-node-_8968ac22-0b96-ca43-5a25-03a7add26a0e-ffb4539d" class="div-block-1179"><img src="../images/ABOUT-ROMIE-detail.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 54vw, (max-width: 991px) 92vw, (max-width: 1390px) 94vw, 1307px" srcset="../images/ABOUT-ROMIE-detail-p-500.png 500w, ../images/ABOUT-ROMIE-detail-p-800.png 800w, ../images/ABOUT-ROMIE-detail.png 1307w" alt="Header image" class="image-72" /></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="uui-section_layout84">
    <a href="https://youtapbos.onelink.me/opkk/lewbqsvb" target="_blank" class="link-block-15 w-inline-block"><img src="../images/Menu-ROMIE.jpg" loading="lazy" sizes="100vw" srcset="../images/Menu-ROMIE-p-500.jpg 500w, ../images/Menu-ROMIE-p-800.jpg 800w, ../images/Menu-ROMIE-p-1080.jpg 1080w, ../images/Menu-ROMIE-p-1600.jpg 1600w, ../images/Menu-ROMIE.jpg 1920w" alt="" class="image-63" /></a>
  </section>
  <section class="uui-section_layout84">
    <div class="uui-container-large-3">
      <div class="uui-padding-vertical-xhuge-3">
        <div class="uui-text-align-center-3">
          <div class="uui-max-width-large-5">
            <h2 class="uui-heading-medium-4">Galeri ROMIE</h2>
            <div class="uui-space-xsmall-4"></div>
            <div class="uui-text-size-large-5">Untungnya jadi agen ajak cuan</div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://youtapbos.onelink.me/opkk/lewbqsvb" target="_blank" class="link-block-15 w-inline-block"><img src="../images/Galeri-ROMIE.jpg" loading="lazy" sizes="100vw" srcset="../images/Galeri-ROMIE-p-500.jpg 500w, ../images/Galeri-ROMIE-p-800.jpg 800w, ../images/Galeri-ROMIE-p-1080.jpg 1080w, ../images/Galeri-ROMIE.jpg 1920w" alt="" class="image-63" /></a>
  </section>
  <header id="blog-header-6" class="uui-section_blog04">
    <div class="uui-page-padding-3">
      <div class="uui-container-large-3">
        <div class="uui-padding-vertical-xhuge-3-copy">
          <div class="uui-blog04_component-copy">
            <div class="uui-blog04_category-menu no-scrollbar">
              <a href="#" class="uui-blog04_menu-link w-inline-block">
                <div>Postingan Terbaru</div>
              </a>
              <a href="#" class="uui-blog04_menu-link w-inline-block">
                <div>Promo</div>
              </a>
              <a href="#" class="uui-blog04_menu-link w-inline-block">
                <div>Inspirasi</div>
              </a>
              <a href="#" class="uui-blog04_menu-link w-inline-block">
                <div>Tips</div>
              </a>
              <a href="#" class="uui-blog04_menu-link last-link w-inline-block">
                <div>Berita</div>
              </a>
              <a href="#" class="uui-blog04_menu-link last-link w-inline-block">
                <div>Event</div>
              </a>
              <div class="uui-scrollbar-css w-embed">
                <style>
.no-scrollbar {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.no-scrollbar::-webkit-scrollbar {
    display: none; // Safari and Chrome
}
</style>
              </div>
            </div>
            <div class="uui-blogsection01_component">
              <div class="uui-blogsection01_list-wrapper-copy">
                <div class="collection-list-wrapper-6 w-dyn-list">
                  <div role="list" class="collection-list-12 w-dyn-items w-row">
                    <div role="listitem" class="collection-item-15 w-dyn-item w-col w-col-6">
                      <div class="uui-blogsection01_item">
                        <div class="w-dyn-bind-empty w-video w-embed"></div>
                        <a data-w-id="18f08f59-1c1e-fb72-f387-8f58c9f84409" href="#" class="uui-blogsection01_title-link w-inline-block">
                          <h3 class="uui-heading-xsmall-3 w-dyn-bind-empty"></h3>
                          <div class="uui-blogsection01_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="uui-section_faq04">
    <div class="uui-page-padding-6">
      <div class="uui-container-large-6">
        <div class="uui-padding-vertical-xhuge-6">
          <div class="uui-text-align-center-4">
            <div class="uui-max-width-large-6 align-center">
              <h3 class="uui-heading-medium-5">FAQ</h3>
              <div class="uui-space-xsmall-5"></div>
              <div class="uui-text-size-large-6">Ketahui lebih lanjut informasi terkait paket usaha Romie (Roti isi Indomie)</div>
            </div>
          </div>
          <div class="faq">
            <div class="accordion-wrapper">
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Cara Pembelian Paket Usaha Romie</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">Pembelian Paket Usaha roti bakar Romie dapat dilakukan melalui aplikasi Youtap BOS atau melalui web bos.youtap.id</p>
                </div>
              </div>
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Pembayaran Paket Usaha Romie</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">Pembayaran Paket Usaha Romie dilakukan melalui aplikasi Youtap BOS atau melalui web bos.youtap.id</p>
                </div>
              </div>
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Paket Usaha Romie bersifat Pre-order atau Ready Stok?</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">Paket Usaha roti panggang Romie bersifat Pre-order. Pesanan akan di proses dalam kurun waktu 14 hari setelah pesanan dikonfirmasi</p>
                </div>
              </div>
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Pengiriman Paket Usaha Romie</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">*. Pengiriman booth usaha roti bakar Romie, peralatan dan bahan baku akan dilakukan secara bertahap<br />*. Pengiriman booth dan peralatan dikirim dari Jakarta<br />*. Customer akan dikenakan biaya pengiriman sesuai dengan lokasi customer</p>
                </div>
              </div>
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Kebijakan Pembatalan/Cancelation</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">Pembatalan/cancel pesanan hanya dapat dilakukan apabila status pesanan masih belum diproses</p>
                </div>
              </div>
              <div class="accordion-item">
                <div id="q1" class="accordion-item-trigger">
                  <h4 class="accordion-heading"><strong class="bold-text-11">Apakah Ada Pengaturan Zona/Area?</strong></h4>
                  <div class="icon-14 accordion-icon">keyboard_arrow_down</div>
                </div>
                <div class="accordion-item-content">
                  <p class="paragraph-1233">Saat ini, paket usaha roti bakar Romie tidak ada pengaturan zona atau area</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="w-layout-blockcontainer container-banner w-container">
    <a href="https://youtapbos.onelink.me/opkk/1ce1axm7" target="_blank" class="link-block-15 w-inline-block"><img src="../images/CTA-ROMIE-rev.jpg" loading="lazy" sizes="100vw" srcset="../images/CTA-ROMIE-rev-p-500.jpg 500w, ../images/CTA-ROMIE-rev-p-800.jpg 800w, ../images/CTA-ROMIE-rev-p-1080.jpg 1080w, ../images/CTA-ROMIE-rev-p-1600.jpg 1600w, ../images/CTA-ROMIE-rev.jpg 1920w" alt="" class="image-63" /></a>
  </div>
  <section class="uui-section_cta01">
    <div class="uui-page-padding-6">
      <div class="uui-container-large-6">
        <div class="uui-padding-vertical-xhuge-6">
          <div class="w-layout-grid uui-cta01_component">
            <div class="uui-cta01_content">
              <h2 class="uui-heading-large-2">Join 4,000+ startups growing with Untitled</h2>
              <div class="uui-space-small-3"></div>
              <div class="uui-text-size-large-6">Start your 30-day free trial today.</div>
              <div class="uui-space-medium-2"></div>
              <div class="uui-button-row-3 is-reverse-mobile-landscape">
                <div class="uui-button-wrapper-4 max-width-full-mobile-landscape">
                  <a href="#" class="uui-button-secondary-gray-2 w-inline-block">
                    <div>Learn more</div>
                  </a>
                </div>
                <div class="uui-button-wrapper-4 max-width-full-mobile-landscape">
                  <a href="#" class="uui-button-5 w-inline-block">
                    <div>Get started</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="uui-cta01_image-wrapper"><img src="../images/dashboard-mockup-01.png" loading="lazy" width="1440" sizes="100vw" alt="Dashboard mockup" srcset="../images/dashboard-mockup-01-p-500.png 500w, ../images/dashboard-mockup-01-p-800.png 800w, ../images/dashboard-mockup-01-p-1080.png 1080w, ../images/dashboard-mockup-01-p-1600.png 1600w, ../images/dashboard-mockup-01.png 2880w" class="uui-cta01_image-01 shadow-xlarge" /><img src="../images/iphone-mockup-01.png" loading="lazy" alt="iPhone mockup" class="uui-cta01_image-02" /></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <section></section>
    </div>
  </section>
  <section class="uui-section_faq04">
    <div class="uui-page-padding-6">
      <div class="uui-container-large-6">
        <div class="uui-padding-vertical-xhuge-6">
          <div class="uui-text-align-center-4">
            <div class="uui-max-width-large-6 align-center">
              <h3 class="uui-heading-medium-5">PAKET USAHA LAINNYA</h3>
              <div class="uui-space-xsmall-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="uui-section_layout84">
    <a href="https://bit.ly/Beli_PaketUsaha_YoutapBOS" target="_blank" class="link-block-15 w-inline-block"><img src="../images/PAKET-USAHA-BANNER.png" loading="lazy" width="Auto" sizes="100vw" alt="" srcset="../images/PAKET-USAHA-BANNER-p-500.png 500w, ../images/PAKET-USAHA-BANNER.png 950w" class="image-63" /></a>
  </section>
  <script is:inline src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=616d24eebbeca651471d975d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script is:inline src="../js/youtap-indonesia.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/gsap.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/SplitText.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/ScrollTrigger.min.js" type="text/javascript"></script><!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2DNLPB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  -->

</BaseLayout>
