---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Navbar from "src/components/Navbar.astro";
import Footer from "src/components/Footer.astro";
---

<BaseLayout title="Syarat &amp; Ketentuan Umum Layanan SNAP by Youtap" description="">

  <div class="tnc w-container">
    <div class="div-block-68">
      <h2 class="h1">Syarat dan Ketentuan Umum Layanan SNAP by Youtap</h2>
    </div>
    <div href="" class="rich-text-block w-richtext">
      <h5>1. Definisi</h5>
      <p>1.1 Dalam Syarat dan Ketentuan Umum Layanan SNAP by YOUTAP ini, kecuali secara tegas ditentukan lain, kata-kata berikut memiliki definisi sebagai berikut:</p>
      <ol role="list">
        <li>“Afiliasi” adalah pihak pengendali salah satu Pihak, anak perusahaan salah satu Pihak atau pihak yang berada dalam satu pengendalian dengan salah satu Pihak.</li>
        <li>&quot;MITRA” adalah penjual barang dan/atau jasa yang bidang usahanya tidak dilarang oleh perundang-undangan di Indonesia dan yang memiliki gerai yang bekerjasama dalam penyediaan layanan YOUTAPINDONESIA, termasuk telah setuju untuk memberikan data yang diperlukan oleh YOUTAP INDONESIA dan telah menggunakan platform YOUTAP INDONESIA, yang kemudian dimanfaatkan untuk menggunakan Layanan.</li>
        <li>“PELANGGAN”adalah konsumen MITRA yang melakukan Transaksi.</li>
        <li>“Para Pihak”adalah YOUTAP INDONESIA dan PELANGGAN secara bersama-sama.</li>
        <li>“YOUTAP INDONESIA” adalah PT Mitra Digital Sukses, sebuah perseroan terbatas yang didirikan dan beroperasi secara sah berdasarkan hukum Republik Indonesia dan berdomisili di DKI Jakarta, Indonesia yang menyediakan solusi digital termasuk layanan perangkat lunak untuk kasir pencatatan penjualan, layanan pembayaran, serta perangkat keras penunjang pemrosesan transaksi pembayaran.</li>
        <li>“Syarat danKetentuan Umum Layanan” adalah syarat dan ketentuan YOUTAP INDONESIA dan sebagai manadapat diubah dan ditambah dari waktu ke waktu oleh YOUTAP INDONESIA.</li>
        <li>“Layanan” adalah penyediaan layanan, berupa claimdan redeem Loyalty Reward/ Voucher<em> </em>oleh PELANGGAN melalui aplikasi SNAP berdasarkan Loyalty Reward/ Voucher yang diberikan oleh MITRA kepada PELANGGAN yang bersangkutan.</li>
        <li>“POS” adalah<em>Hardware </em>dan <em>Software</em> untuk kasir digital atau <em>point of sales </em>MITRA.</li>
        <li>&quot;<em>Software</em>&quot;adalah perangkat lunak sistem kasir yang digunakan untuk registrasi transaksi penjualan.</li>
        <li>&quot;<em>Hardware</em>&quot;adalah perangkat keras yang disediakan oleh YOUTAP INDONESIA untuk jasa pemrosesan Layanan. </li>
        <li> “Uang Elektronik”adalah layanan uang elektronik yang diselenggarakan oleh masing-masing penerbit Uang Elektronik bagi pengguna yang telah mendaftar dan tercatat sebagai pengguna layanan Uang Elektronik</li>
        <li>“Hak Kekayaan Intelektual” adalah nama, logo, merek dagang, paten, hak cipta, rahasia dagang, desain industri atau segala jenis hak atas kekayaan intelektual lainnya yang dilindungi oleh Negara dan diatur dalam undang-undang.</li>
        <li>“Hari Kerja”adalah standar jam kerja operasional YOUTAP INDONESIA yang dari jam 9:00 sampai jam 17:00 WIB setiap hari tidak termasuk hari Sabtu, Minggu dan hari libur di Indonesia atau sebagaimana diinformasikan secara tertulis dari waktu ke waktu oleh YOUTAP INDONESIA. </li>
        <li>&quot;Keadaan Memaksa ”adalah suatu kejadian yang di luar kekuasaan Pihak yang bersangkutan dan terjadibukan karena kesalahan atau kelalaian Pihak tersebut, termasuk tetapi tidak terbatas,kebakaran, badai, banjir, gempa bumi, ledakan, kecelakaan, tindakan musuh, perang, pertentangan, pemberontakan, sabotase, epidemi, pandemi, pembatasan karantina, perselisihanperburuhan umum, embargo transportasi, pemadaman listrik atau tindakan atau kelalaian (termasuk penolakan atau kegagalan untuk menyetujui) dari setiap orang ketiga, termasuk karyawan, sub kontraktor, pemasok, dan Layanan Pihak Ketiga, yang mengakibatkan Pihak tersebut tidak dapat memenuhi kewajiban kinerjanya berdasarkan Perjanjian.</li>
        <li>“Pihak Ketiga”adalah institusi lain di luar dan selain YOUTAP INDONESIA yang tidak memiliki koneksi langsung ke layanan, tetapi memungkinkan berperan untuk performa Layanan (contohnya penyedia jaringan telekomunikasi, kurir). </li>
        <li>“Transaksi ”adalah setiap transaksi untuk penyediaan barang dan atau jasa yang diproses menggunakan dan melalui Layanan.</li>
        <li>“SNAP”adalah merek dagang YOUTAP INDONESIA berupa aplikasi mobile yang dapat diunduh di playstore (Android), yang ditujukan untuk memberikan PELANGGAN Loyalty Reward dalam bentuk stempel digital yang dapat ditukarkan menjadi Voucher setelah PELANGGAN melakukan Transaksi di MITRA yang mengikuti program Loyalty.</li>
        <li>“LoyaltyReward/ Voucher” adalah program promosi untuk mendapatkan produk baru, voucher khusus, potongan harga atau produk gratis setelah PELANGGAN melakukan Transaksi di MITRA yang mengikuti program Loyalty. </li>
        <li> “Claim” adalah kegiatan memasukkan Trail ID/ ID Lacak atau pemindaian barcode yangtertera pada Struk/ Receipt setelah PELANGGAN melakukan Transaksi di MITRA yangmengikuti program Loyalty.</li>
        <li>“Redeem” adalah kegiatan menggunakan/menukarkan Loyalty Reward/ Voucher dengan cara menunjukkan QR (<em>Quick Response</em>) Code PELANGGAN kepada MITRA untuk dilakukan pemindaian</li>
        <li>“Trail ID/ID Lacak” adalah nomor unik atau barcode yang terdapat pada Struk/ Receipt yang didapatkan PELANGGAN setelah PELANGGAN melakukan Transaksi di MITRA yang mengikuti program Loyalty.</li>
        <li>“Struk/Receipt” adalah bukti transaksi yang antara lain berisikan jumlah dan nominalTransaksi, tanggal dan waktu Transaksi, informasi tempat PELANGGAN Transaksi,dan Trail ID/ ID Lacak.</li>
        <li>“Scan”adalah kegiatan pemindaian QR Code Loyalty Reward/ Voucher PELANGGAN oleh MITRA, sehingga PELANGGAN mendapatkan promosi di MITRA yang mengikuti program Loyalty.</li>
        <li>“QR” adalah kode matriks atau barcode dua dimensi yang menyimpan data LoyaltyReward/ Voucher MITRA yang mengikuti program Loyalty, yang dapat discan olehMITRA yang mengikuti program Loyalty sehingga PELANGGAN mendapatkan promosi.</li>
        <li>“Formulir Layanan Tambahan” adalah formulir yang menyatakankeikutsertaan MITRA atas program loyalty, dimana loyalty tersebut akandiberikan kepada PELANGGAN melalui aplikasi </li>
      </ol>
      <p>1.2. Syarat dan Ketentuan Umum ini berlaku untuk jangka sepanjang MITRA mengikuti program Loyalty untuk dapat digunakan oleh PELANGGAN. Masa berlaku program Loyalty antara satu MITRA dengan MITRA lain dapat berubah sesuai dengan kesepakatan antara MITRA dengan YOUTAP INDONESIA. Kami akan mengubah informasi dan data-data di dalam situs ini secara berkala dan karenanya PELANGGAN setuju bahwa perubahan tersebut akan menggantikan Syarat dan Ketentuan sebelumnya dan berlaku surut. YOUTAP INDONESIA lebih lanjut dapat mengubah baik sebagian maupun seluruh Syarat dan Ketentuan Umum Layanan dan perubahan tersebut akan diberitahukan di dalam halaman ini.</p>
      <h5>2. Ruang Lingkup dan Mekanisme Layanan SNAP</h5>
      <p>2.1. Syarat dan Ketentuan Umum ini mengatur pemberian Layanan SNAP oleh YOUTAP INDONESIA kepada PELANGGAN melalui aplikasi SNAP berdasarkan keikutsertaan MITRA atas program loyalty. </p>
      <p>2.2. PELANGGAN dengan ini setuju dan menunjuk YOUTAP INDONESIA berdasarkan Syarat dan Ketentuan Umum Layanan SNAP ini, dan memberikan kewenangan kepada YOUTAP INDONESIA untuk memproses Transaksi dan/atau Loyalty Reward/ Voucher sebagai bagian dariLayanan SNAP.</p>
      <p>2.3. Mekanisme Layanan Penukaran Reward secara otomatismelalui Tablet Usaha:  </p>
      <p>2.3.1. PELANGGAN melakukan Transaksi non-tunai (<em>cashless</em>)di toko MITRA yang telah berlangganan program Loyalty.</p>
      <p>2.3.2. PELANGGAN yang telah terdaftar pada aplikasi SNAP akan terdeteksi melalui Tablet Usaha milik MITRA.</p>
      <p>2.3.3. PELANGGAN yang telah terdaftar pada aplikasi SNAP akan mendapatkan reward secara otomatis dari MITRA melalui akun SNAP milik PELANGGAN.</p>
      <p>2.4. Mekanisme Layanan Penukaran Reward secara manual melalui SNAP:</p>
      <p>2.4.1. PELANGGAN melakukan Transaksi non-tunai (<em>cashless</em>)di toko MITRA yang telah berlangganan program Loyalty.[MIJ1] [FA2] </p>
      <p>2.4.2. MITRA memberikan bukti Struk/Receipt Pembayaran kepada PELANGGAN dan menginformasikan PELANGGAN terkait Trail ID/ ID Lacak yang untuk dapat di-claim dan redeem oleh PELANGGAN.</p>
      <p>2.4.3. PELANGGAN mengunduh aplikasi SNAP dan mendaftarmasuk ke aplikasi.</p>
      <p>2.4.4. PELANGGAN melakukan Claim Reward danmengisi atau memindai barcode Trail ID/ ID Lacak yang tercantum pada Struk/Receipt.</p>
      <p>2.4.5. Untuk redeem Voucher, PELANGGAN masukke menu “My Reward”, kemudian pilih Voucher yang mau dipakai, lalu tekan “Redeem Reward”.</p>
      <p>2.4.6. PELANGGAN menunjukkan QR ke MITRA saatmenukarkan Reward/ Voucher.</p>
      <p>2.4.7. MITRA memindai QR yang ditunjukkan olehPELANGGAN. Reward/ Voucher secara otomatis berhasil di-redeem.</p>
      <h5>3. Hak dan Kewajiban</h5>
      <p><strong>3.1. Hak dan kewajiban YOUTAP INDONESIA dalam Layanan SNAP</strong></p>
      <p>3.1.1. YOUTAP INDONESIA berhak bekerja sama dengan MITRA untuk memberikan program Loyalty Reward/ Voucher kepada PELANGGAN.</p>
      <p>3.1.2. YOUTAP INDONESIA berhak mendapatkan pembayaran atas program Loyalty Reward/ Voucher  dari MITRA maupun biaya lainnya sesuai dengan ketentuan dalam Formulir Layanan Tambahan serta Syarat dan Ketentuan Umum Layanan yang terdapat pada Formulir Layanan Tambahan antara YOUTAP INDONESIA dengan MITRA.</p>
      <p>3.1.3. YOUTAP INDONESIA dapat sewaktu-waktu atas kebijakannya sendiri, dengan pemberitahuan tertulis terlebih dahulu kepada PELANGGANdan MITRA untuk melakukan pengakhiran Layanan dan/atau pengakhiran programLoyalty Reward/ Voucher yang diberikan MITRA kepada PELANGGAN.</p>
      <p>3.1.4. Dalam hal terjadi pengakhiran programLoyalty Reward/ Voucher, YOUTAP INDONESIA berhak untuk melakukan penarikan semua Loyalty Reward/ Voucher yang telah di-claim oleh PELANGGAN.</p>
      <p>3.1.5. YOUTAP INDONESIA berhak untuk mengalihkan hak dan kewajibannya, sebagian maupun keseluruhan kepada Afiliasinya tanpa persetujuan tertulis terlebih dahulu dari MITRA atau PELANGGAN.</p>
      <p>3.1.6. YOUTAP INDONESIA berhak untuk menghentikan Layanan untuk MITRA dan/atau PELANGGAN apabila berdasarkan temuan dan keputusanYOUTAP INDONESIA, terdapat indikasi dan/atau bukti bahwa MITRA dan/atauPELANGGAN melakukan pelanggaran atas Syarat dan Ketentuan Umum ini dan/atau Formulir Layanan Tambahan dan/atau ketentuan hukum yang berlaku.</p>
      <p>3.1.7. YOUTAP INDONESIA wajib menyediakan LayananSNAP sesuai dengan jenis layanan yang dirinci dalam Aplikasi.</p>
      <p>3.1.8. YOUTAP INDONESIA dapat sewaktu-waktu memberikan update terbaru, baik terhadap Hardware maupun Software MITRA maupun SoftwarePELANGGAN.</p>
      <p>3.1.9. YOUTAP INDONESIA berhak mendapatkan izin aplikasi (application permission) pada saat PELANGGAN melakukan pengunduhan dan menggunakan aplikasi SNAP.</p>
      <p><strong>3.2. Hak dan kewajiban MITRA dalam Layanan SNAP</strong></p>
      <p>3.2.1. MITRA berhak untuk mendapatkan voucher/reward yang dapat diberikan kepada PELANGGAN yang bertransaksi di MITRA tersebut sesuai dengan jenis dan ketentuan voucher/reward yang dirinci dalam Formulir Layanan Tambahan.</p>
      <p>3.2.2. MITRA berhak untuk mendapatkan dukungan teknis maupun operasional, serta menerima edukasi terkait penggunaan POS dari YOUTAP INDONESIA atau cara pemberian loyalty reward kepada PELANGGAN.</p>
      <p>3.2.3. MITRA wajib menginformasikan tata cara penggunaan Layanan SNAP kepada PENGGUNA pada saat PENGGUNA mendapatkan Layanan MITRA.</p>
      <p>3.2.4. MITRA wajib menjaga kerahasaiaan PIN akun MITRA dan selalu menjaga keamanan perangkat yang MITRA gunakan.</p>
      <p>3.2.5. MITRA wajib melakukan pembayaran atas keikutsertaan loyalty program sebagaimana tercantum dalam Formulir Layanan Tambahan kepada YOUTAP INDONESIA.</p>
      <p>3.2.6. MITRA wajib memastikan semua cabangnya untuk menerima semua perwakilan resmi YOUTAP INDONESIA dan mengetahui mengenai penggunaan Layanan SNAP, serta menginformasikan kepada YOUTAP INDONESIA apabila ada cabang tambahan atau cabang yang ditutup.</p>
      <p>3.2.7. MITRA wajib mematuhi ketentuan terhadap prosedur penggunaan yang berkaitan dengan loyalty program YOUTAP INDONESIA, baikitu secara tertulis ataupun pada saat kunjungan langsung.</p>
      <p>3.2.8. MITRA wajib untuk memiliki seluruh lisensi dan perizinan yang diperlukan untuk terlibat dalam kegiatan usaha penyediaan barang/jasasesuai dengan bidang usaha MITRA.</p>
      <p>3.2.9. MITRA wajib untuk menjamin dan memastikan bahwa MITRA tidak melakukan kegiatan usaha yang tidak melanggar hukum, peraturan perundang-undangan, ketertiban umum, termasuk MITRA menjamin tidak menjual/menyediakan/mengunggah produk-produk/jasa/gambar yang mengandung unsur kekerasan, perjudian, bertentangan dengan Pancasila, Undang-Undang Dasar 1945, norma-norma yang berlaku di masyarakat.</p>
      <p><strong>3.3. Hak dan kewajiban PELANGGAN dalam Layanan SNAP</strong></p>
      <p>3.3.1. PELANGGAN berhak mendapatkan LoyaltyReward/ Voucher atas Transaksi yang dilakukan di MERCHANT yang mengikuti program Loyalty Reward/ Voucher.</p>
      <p>3.3.2. PELANGGAN berhak melakukan atau tidak melakukan Claim dan/atau Redeem Loyalty Reward/Voucher.</p>
      <p>3.3.3. PELANGGAN berhak mendapatkan penjelasan cara mengunduh Aplikasi SNAP, cara Claim dan/ataucara Redeem baik dari MITRA yang mengikuti program Loyalty Reward/ Voucher maupun dari YOUTAP INDONESIA melalui <em>customer service.</em></p>
      <p>3.3.4. PELANGGAN tidak berhak Claim dan/atau Redeem Loyalty Reward/ Voucher yang sudah melewati masa program promosi. Apabila terdapat kesalahan fungsi pada aplikasi SNAP atas Loyalty Reward/ Voucher yang sudah tidak berlaku namun masih dapat digunakan, maka PELANGGAN tidak berhak mendapatkan Loyalty Reward/ Voucher tersebutsetelah dijelaskan oleh MITRA dan/atau YOUTAP INDONESIA.</p>
      <p>3.3.5. PELANGGAN berhak memberikan dan/atau tidak memberikan izin aplikasi (application permission) pada saat PELANGGAN melakukan pengunduhan dan menggunakan aplikasi SNAP. Terhadap pemberian atau penolakan application permission, yang mengakibatkan tidak berfungsinya aplikasi SNAP, YOUTAP INDONESIA tidak berkewajiban untuk melakukan penyesuaian (kustomisasi) terhadap application permissionPELANGGAN. Application Permission ditetapkan secara umum oleh YOUTAP INDONESIAuntuk semua PELANGGAN.</p>
      <p>3.3.6. PELANGGAN wajib mengunduh aplikasi SNAP untuk dapat menggunakan Loyalty Reward/ Voucherdan melakukan pendaftaran untuk masuk ke aplikasi SNAP.</p>
      <p>3.3.7. PELANGGAN wajib menjaga kerahasaiaan PIN akun SNAP PELANGGAN dan selalu menjaga keamanan perangkat yang PELANGGAN gunakan.</p>
      <p>3.3.8. PELANGGAN wajib melakukan pembayaran secara non-tunai (<em>cashless</em>) menggunakan QRIS <em>Merchant Presented Mode</em> (MPM) dan QRIS <em>Customer Presented Mode</em> (CPM) atas Transaksi yang dilakukan di MITRA, sebelum mendapatkan Struk/ Receipt yang berisi detail pembayaran dan Track ID/ ID Lacak yang dapat digunakan untuk Claim dan/atauRedeem Loyalty Reward/ Voucher.</p>
      <p>3.3.9. PELANGGAN wajib menggunakan aplikasi SNAP untuk tujuan sebagaimana dimaksud atas penggunaan aplikasi tersebut dengan cara yang tidak melanggar hukum, peraturanperundang-undangan, dan/atau ketertiban umum. PELANGGAN menyetujui untuk menggunakan aplikasi SNAP hanya untuk penggunaan untuk mendapatkan layanan. PELANGGAN tidak boleh menyalahgunakan atau menggunakan aplikasi SNAP untuk tujuan penipuan atau menyebabkan ketidaknyamanan bagi orang dan/atau pihaklain.</p>
      <h5>4. Biaya dan Pembayaran</h5>
      <p>4.1. Atas penyediaan Layanan SNAP, PELANGGAN tidak dikenakan biaya apapun pada saat melakukan Claim dan/atau Redeem LoyaltyReward/ Voucher pada MITRA.</p>
      <p>4.2. Pembayaran atas Transaksi tetap dikenakan kepada PELANGGAN pada saat melakukan Transaksi di MITRA sesuai dengan besarnya biayabarang/jasa yang dijual oleh MITRA. Pembayaran atas Transaksi yang sudahdilakukan oleh PELANGGAN kepada MITRA tidak dapat dikembalikan, kecuali dapatdibuktikan bahwa terjadi kesalahan MITRA.</p>
      <p>4.3. Pembayaran atas Layanan dan barang/jasa MITRA yang sudah dilakukan tidak dapat dikembalikan, kecuali dapat dibuktikan bahwa terjadi kesalahanYOUTAP INDONESIA dan berlaku syarat ketentuan yang tercantum dalam Ketentuan LayananYOUTAP INDONESIA.</p>
      <p>4.4. Biaya Layanan dapat berubah sewaktu-waktu dengan pemberitahuan dan persetujuan terlebih dahulu dari MITRA dan/atau PELANGGAN melalui cara dan sarana yang ditentukan oleh YOUTAP INDONESIA.</p>
      <h5>5. Kehilangan atau Kerusakan </h5>
      <p>5.1. PELANGGAN bertanggung jawab dalam hal terjadi kehilangan atau kerusakan yang tidak dapat diperbaiki pada perangkat mobile PELANGGAN dan dengan ini setuju bahwa PELANGGAN tidak dapat mengalihkan risiko kehilangan atau kerusakan tersebut kepada MITRA dan/atau YOUTAP INDONESIA. </p>
      <p>5.2. PELANGGAN dengan ini setuju untuk selamanya membebaskan YOUTAP INDONESIA dari dan terhadap setiap dan seluruh klaim, kewajiban, tindakan, tuntutan, kerugian, penyelidikan, proses atau putusan yang akan ditimbulkan atau harus dibayar olehYOUTAP INDONESIA sehubungan dengan setiap kehilangan, atau kerusakan atas perangkat mobile PELANGGAN.</p>
      <p>5.3. Terhadap kerusakan software layanan aplikasi SNAP, YOUTAP INDONESIA membuka akses pengaduan layanan sebagaimana tercantum pada bagian “InformasiLayanan” pada Syarat dan Ketentuan Layanan SNAP ini, dan YOUTAP INDONESIA akan memberikan laporan layanan untuk PELANGGAN yang mencantumkan deskripsi kerusakan. </p>
      <h5>6. Pernyataan dan Jaminan</h5>
      <p>6.1. Dalam melaksanakan Syarat dan Ketentuan Umum Layanan SNAP ini, PELANGGAN setuju untuk mematuhi dan bekerja sama dengan YOUTAP INDONESIA untuk mematuhi kebijakan Know Your Customer (KYC) pada aplikasi SNAP yang diadopsi oleh YOUTAP INDONESIA sesuai dengan hukum dan peraturan yang berlaku, namun tidak terbatas pada mengumpulkanseluruh dokumentasi dan informasi lainnya dari PELANGGAN yang diperlukan.</p>
      <p>6.2. PELANGGAN dengan ini menyatakan sepakat dan setuju bahwa YOUTAP INDONESIAdapat mengumpulkan, menggunakan, mengakses, menyimpan, dan/atau memproses data PELANGGANtermasuk namun tidak terbatas pada informasi pribadi, isi percakapan, dan/atau informasi tentang penggunaan layanan oleh PELANGGAN, serta untuk hubungan bisnisdengan YOUTAP INDONESIA dan afiliasinya serta untuk memberikan penawaran jasa lainnya.</p>
      <p>6.3. Dengan menggunakan aplikasi SNAP, PELANGGAN dengan ini menyatakan persetujuannya kepada YOUTAP INDONESIA, untuk menggunakan danmemberikan data pribadi PELANGGAN kepada MITRA pemilik produk/jasa yangdigunakan pelanggan, termasuk nama, nomor telepon, tanggal lahir dan emailpelanggan </p>
      <p>6.4. PELANGGAN dan/atau MITRA tidak mengalihkan hak dan kewajibannya, baik sebagian maupun keseluruhan berdasarkan syarat dan ketentuan umum layanan ini, tanpa persetujuanterlebih dahulu dari YOUTAP INDONESIA.</p>
      <p>6.5. Dalam melaksanakan Syarat dan Ketentuan Umum Layanan SNAP ini, PELANGGAN dan/atau MITRA tidak menawarkan, menjanjikan, menyetujui dan mengesahkan setiap pembayaran atau pemberian, baik secara langsung maupun tidak langsung, barang ataumateri yang memiliki nilai (termasuk namun tidak terbatas pada hadiah, hiburan,makanan, diskon atau kredit pribadi, atau manfaat lainnya yang tidak dibayarkan pada nilai pasar) yang mempunyai tujuan atau efek penyuapan dan korupsi yang berlakudi Indonesia atau peraturan dan hukum yang melarang setiap tindakan yang melanggar hukum untuk tujuan mendapatkan manfaat komersil bisnis.</p>
      <h5>7. Ganti Rugi dan Pembatasan Tanggung Jawab</h5>
      <p>7.1. PELANGGAN dan/atau MITRA dengan ini setuju untuk mengganti kerugian dan selamanya membebaskan YOUTAP INDONESIA dari dan terhadap setiap dan seluruh klaim, kewajiban, tindakan, tuntutan, kerugian, penyelidikan, proses atau putusan yang akan ditimbulkan atau harus dibayar oleh YOUTAP INDONESIA sehubungan dengan:</p>
      <p>7.1.1.        tindakan penipuan, kriminal atau tindakan tidak sah apapun yang dilakukan dengan menggunakan Hardware dan/atau Software yang disediakan oleh YOUTAP INDONESIA kepada PELANGGAN dan/atau MITRA, baik tindakan tersebut dilakukan oleh MITRA (sebagaimana adanya) atau perwakilan, agen, karyawan atau kontraktornya dan/atau dilakukan oleh PELANGGAN.</p>
      <p>7.1.2.        setiap akses pihak ketiga yang tidak sahatau ilegal terhadap Informasi Rahasia dari MITRA dan/atau PELANGGAN yang terjadi bukan karena kesalahan atau kelalaian YOUTAP INDONESIA.</p>
      <p>7.1.3.        setiap tindakan kelalaian atau yang disengaja atau kealpaan oleh PELANGGAN dan/atau MITRA (sebagaimana adanya) atau Perwakilannya masing-masing.</p>
      <p>7.1.4.        segala pelanggaran atas ketentuan Layananoleh PELANGGAN dan/atau MITRA dan tidak terbatas atas pelanggaran peraturan perundang–undangan untuk pelaksanaan penggunaan layanan/jasa. </p>
      <p>7.1.5.        setiap kehilangan, atau kerusakan atas Hardware dan Software maupun POS atau kerugian langsung. </p>
      <p>7.1.     Kewajiban YOUTAP INDONESIA atas setiap klaim yang diajukan sehubungan denganpemberian Layanan tidak akan melebihi jumlah yang setara dengan keseluruhan biayayang dibayarkan oleh MITRA kepada YOUTAP INDONESIA sehubungan dengan pemberian Layanandalam periode 3 (tiga) bulan sebelum terjadinya pelanggaran.</p>
      <p>7.2.     PELANGGAN dan/atau MITRA setuju untuk melepaskan YOUTAP INDONESIA dari klaim apapun yang timbul sehubungan dengan virus, kerusakan, gangguan, atau bentuk laindari gangguan sistem, termasuk akses tanpa otorisasi oleh pihak ketiga.PELANGGAN dan/atau MITRA wajib untuk memberi tahu YOUTAP INDONESIA sesegera mungkinjika MITRA mengalami gangguan sistem apapun sebagaimana disebutkan di atas sehinggaYOUTAP INDONESIA dapat berusaha memperbaiki gangguan tersebut.</p>
      <p> 7.3.     YOUTAP INDONESIA tidak bertanggung jawab atas kerugian tidak langsung, konsekuensial,insidental atau hilangnya data, peluang pendapatan, keuntungan, gangguan usaha ataubiaya asuransi terlepas dari apakah kerugian tersebut dapat diduga atau salah satuPihak memperkirakan atau telah diberitahu akan kemungkinan kerugian tersebut.</p>
      <p>7.4.     YOUTAP INDONESIA tidak bertanggung jawab atas klaim, pengeluaran, kewajiban, ganti rugi atau biaya lainnya yang muncul akibat dari pelanggaran oleh PELANGGANdan/atau MITRA terhadap ketentuan apapun dari Syarat dan Ketentuan Layanan SNAPtermasuk namun tidak terbatas pada penggunaan Hardware dan Software yang disediakanoleh YOUTAP INDONESIA yang dipadankan dengan peralatan, perangkat lunak atau layananlain, penggunaan mana belum disetujui oleh YOUTAP INDONESIA atau adanya modifikasiatau perubahan Hardware dan Software yang disediakan oleh YOUTAP INDONESIA yangtidak sah.</p>
      <p>‍</p>
      <h5>8. Hak dan Kekayaan Intelektual (HAKI)</h5>
      <p>8.1. Nama, logo, merek, atau segala jenis HAKI lainnya yang merupakan milik masing-masing Pihak tetap menjadi milik masing-masing Pihak.</p>
      <p>8.2. MITRAdilarang menggunakan nama, logo, merek, atau segala jenis HAKI lainnya yang dimiliki oleh YOUTAP INDONESIA tanpa persetujuan tertulis terlebih dahulu dari YOUTAP INDONESIA.</p>
      <h5>9. Penilaian Kerjasama</h5>
      <p>PELANGGAN dan/atauMITRA tidak berkewajiban untuk menggunakan aplikasi SNAP dan dapat dengan mudah memilih untuk berhenti menggunakannya kapan saja dengan membatalkan akun PELANGGANdan/atau MITRA dan secara permanen menghapus Aplikasi SNAP dari perangkat Anda,sehingga menonaktifkan penggunaan Aplikasi SNAP oleh Anda. Ketentuan Penggunaanini secara otomatis dihentikan ketika Anda secara permanen menghapus Aplikasi SNAPdari perangkat.</p>
      <p>YOUTAP INDONESIA berhak untuk segera menangguhkan, membatasi, atau menghentikan Ketentuan Penggunaan ini dan penggunaan PELANGGAN atas Aplikasi SNAP jika YOUTAP INDONESIA memiliki alasan yang masuk akal untuk mencurigai. </p>
      <h5>10. Informasi Layanan</h5>
      <p>10.1.  Dalam hal terdapat pertanyaan dan/atau keluhan/pengaduan sehubungan dengan penggunaan Layanan SNAP, maka PENGGUNA dan/atau MITRA dapat mengajukan pertanyaan dan/atau keluhan secara tertulis melalui titik pelayanan YOUTAP INDONESIA.</p>
      <ul role="list">
        <li>Situs : <a href="https://www.youtap.com/" target="_blank">www.youtap.id</a>
        </li>
        <li>
          <a href="https://www.facebook.com/Youtap-Indonesia-2151236611853519/" target="_blank">Facebook Fanpage Youtap Indonesia</a>
        </li>
        <li>Instagram<a href="https://www.instagram.com/youtap.id/" target="_blank"> @youtap.id</a>
        </li>
        <li>Twitter<a href="https://twitter.com/Youtapid" target="_blank"> @Youtapid</a>
        </li>
        <li>Layanan Pelanggan:</li>
        <li>
          <a href="tel:1500-523" target="_blank">1500 523</a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=08111500523" target="_blank">0811-1500-523</a>
        </li>
        <li>
          <a href="mailto:cs_yti@youtap.com">halo@youtap.id</a>
        </li>
      </ul>
      <p>10.2.    YOUTAP INDONESIA akan melakukan verifikasi data PENGGUNA dan/atau MITRA yang tersimpan pada sistem YOUTAP INDONESIA dan YOUTAP INDONESIA berhak melakukan penolakandalam memproses pertanyaan dan/atau keluhan/pengaduan yang diajukan PENGGUNAdan/atau MITRA dalam hal data PENGGUNA dan/atau MITRA yang diverifikasi tidak sesuaidengan data PENGGUNA dan/atau MITRA yang tersimpan pada sistem YOUTAP INDONESIA.</p>
      <p>10.3.    YOUTAP INDONESIA akan melakukan pemeriksaan dan/atau investigasi atas pertanyaan/keluhan/pengaduan PENGGUNA dan/atau MITRA serta memberikan jawaban kepada PENGGUNA dan/atau MITRAsesuai dengan kebijakan dan prosedur yang berlaku di YOUTAP INDONESIA setelah YOUTAPINDONESIA menerima pertanyaan/keluhan/pengaduan secara lengkap dalam kurun waktu5 hari kerja.</p>
      <h5>11. Konsekuensi dan Pengakhiran</h5>
      <p>11.1.     Pengakhiran dapat dilakukan apabila salah satu pihak mengalami pailit.</p>
      <p>11.2.     Pada habisnya masa berlaku atau pengakhiran dari Layanan sesuai dengan ketentuanSyarat dan Ketentuan Umum Layanan SNAP, YOUTAP INDONESIA berhak melakukan penarikansemua Hardware, Software, dan peralatan lainnya termasuk namun tidak terbataspada voucher yang telah dibuat namun belum diclaim dan/atau diredeem, yang telahdisediakan kepada MITRA dan/atau PELANGGAN, atau salinan yang diperkenankan, sehubungandengan penyediaan Layanan SNAP. MITRA dan/atau Pelanggan wajib memberikan keteranganlengkap yang dibutuhkan, termasuk tetapi tidak terbatas pada lokasi peralatan, dankontak dari penanggung jawab. Untuk menghindari keragu-raguan, kegagalan MITRAdan/atau Pelanggan dalam memberikan keterangan tersebut tidak menghalangi YOUTAPINDONESIA dalam melaksanakan hak ini.</p>
      <p>11.3.     Dalam hal Layanan diakhiri, seluruh kewajiban dari tiap pihak akan berakhirdan tidak ada pihak yang dapat mengajukan tuntutan terhadap pihak lain sehubungandengan hal apapun yang timbul dari atau sehubungan dengan Layanan SNAP ini kecualiuntuk (a) pelanggaran kewajiban sebelumnya berdasarkan Layanan; dan (b) kewajibanatas biaya yang harus dibayarkan oleh pihak yang bersangkutan berdasarkan penggunaanLayanan SNAP. </p>
      <p>11.4.     MITRA dan/atau PELANGGAN setuju untuk mengesampingkan berlakunya ketentuanPasal 1266 Kitab Undang-Undang Hukum Perdata, sehingga pengakhiran yang dimaksuddapat dilakukan tanpa memerlukan putusan pengadilan dan cukup dilakukan dengan pemberitahuantertulis dari MITRA dan/atau PELANGGAN atau kesepakatan antara MITRA dan/atauPELANGGAN dengan YOUTAP INDONESIA.</p>
      <p>‍</p>
      <h5>12. Kerahasiaan</h5>
      <p>12.1.     “Informasi Rahasia” adalah data dan informasi-informasi yang:</p>
      <p>12.1.1.        Diberikan oleh YOUTAP INDONESIA kepada PELANGGANdan/atau MITRA, ataupun oleh PELANGGAN dan/atau MITRA kepada YOUTAP INDONESIA, sehubungan dengan pelaksanaan pemberian Layanan SNAP dari YOUTAP INDONESIA kepada Pelanggan dan/atau MITRA termasuk data pribadi dan identitas PELANGGAN dan/atauMITRA, data transaksi, merupakan hak milik dari, mengenai atau dibuat oleh salahsatu Pihak.</p>
      <p>12.1.2.        Mengenai salah satu pihak yang memberikanpihak tersebut suatu manfaat bisnis.</p>
      <p>12.1.3.        Atau kesempatan untuk memperoleh manfaattersebut atau pengungkapan dari hal mana dapat merugikan kepentingan pihak tersebut.</p>
      <p>12.2.     Informasi Rahasia tidak termasuk informasi yang:</p>
      <p>12.2.1.        Telah dikuasai oleh pihak yang menerimainformasi tersebut sebelum pengungkapan oleh pihak lainnya.</p>
      <p>12.2.2.        Telah dikembangkan sendiri oleh pihak yangmenerima informasi.</p>
      <p>12.2.3.        Diterima oleh salah satu pihak dan pihakketiga tanpa adanya kewajiban untuk merahasiakan, atau</p>
      <p>12.2.4.        Menjadi tersedia bagi masyarakat umum tanpa adanya pelanggaranterhadap Syarat dan Ketentuan Umum Layanan ini. </p>
      <p>12.3.     PELANGGAN dan/atau MITRA wajib untuk tidak mengungkapan Informasi Rahasia apapun dari YOUTAP INDONESIA ke pihak ketiga lainnya tanpa memperolehterlebih dahulu persetujuan dari YOUTAP INDONESIA dan akan mengambil langkah-langkahyang dinilai wajar guna mencegah pengungkapan Informasi Rahasia tersebut. </p>
      <p>12.4.     PELANGGAN dan/atau MITRA setuju bahwa akses terhadap InformasiRahasia hanya akan diberikan kepada Direktur, karyawan, akuntan dan/atau penasehat,afiliasi atau agen masing-masing Pihak, yang memerlukan akses terhadap InformasiRahasia untuk penggunaan Layanan dan dengan basis <em>Need to Know</em> masing-masingPihak bertanggung jawab atas penggunaan Informasi Rahasia oleh pihak-pihak tersebutdi atas.</p>
      <p>12.5.     YOUTAP INDONESIA berhak untuk mengungkapkan informasi PELANGGAN jika diwajibkanatau diminta untuk proses hukum dan/atau permintaan pihak instansi pemerintah,penegak hukum, dan pihak berwenang resmi lainnya yang ditetapkan oleh peraturanperundang-undangan yang berlaku di Indonesia...</p>
      <h5>13. Keadaan Memaksa (Force Majeur)</h5>
      <p>13.1. Dalam hal terjadi Keadaan Memaksa, makan pihak yang mengalami hal tersebut wajib memberitahukan secara tertulis kepada pihak lainnya mengenai terjadinya Keadaan Memaksa tersebut selambat-lambatnya 14 (empat belas) hari terhitung sejak tanggal terjadinya Keadaan Memaksa. Segera setelah diterimanya pemberitahuan tertulis tentang adanya Keadaan Memaksa tersebut, Para Pihak akan mengadakan musyawarah untuk menentukan akibat dari kejadian tersebut serta cara penyelesaiannya.</p>
      <p>13.2. Kelalaian atau keterlambatan dalam memenuhi kewajiban sebagaimana dimaksud di atas oleh pihak yang mengalami Keadaan Memaksa mengakibatkan tidak diakuinya keadaan yang menimpa pihak tersebut sebagai Keadaan Memaksa.</p>
      <h5>14. Yuridiksi</h5>
      <p>14.1.     Hubungan hukum yang timbul berdasarkan Layanan ini diatur dan ditafsirkanberdasarkan hukum Republik Indonesia.</p>
      <p>14.2.     Segala perselisihan yang timbul dari Layanan SNAP ini, PELANGGANdan/atau MITRAsetuju untuk menyelesaikannya secara musyawarah mufakat dalam jangka waktu 30 (tigapuluh) hari terhitung sejak salah satu pihak menyampaikan pemberitahuan mengenaiadanya sengketa.</p>
      <p>14.3.      Apabila perselisihan tidak dapat diselesaikansecara musyawarah dalam jangka waktu sebagaimana disebutkan di atas, PELANGGANdan/atau MITRAsetuju menyelesaikannya melalui Badan Arbitrase Nasional Indonesia (BANI).</p>
      <h5>15. Lain-lain</h5>
      <p>15.1.     YOUTAP INDONESIA menerima dan menjalankan setiap instruksi PELANGGAN dan/atau MITRAsebagai instruksi yang sah berdasarkan penggunaan layanan YOUTAP INDONESIA dan karenanyaYOUTAP INDONESIA tidak mempunyai kewajiban kepada MITRA untuk menilai maupun membuktikanketepatan maupun kelengkapan instruksi dimaksud dan oleh karena itu intruksi tersebutsah mengikat PELANGGAN dan/atau MITRA, kecuali PELANGGAN dan/atau MITRA dapat membuktikan sebaliknya.</p>
      <p>15.2.     PELANGGAN dan/atau MITRA setuju bahwa YOUTAP INDONESIA dapat menyimpan, mengolah, dan memberikan informasi sehubungan dengan dataPELANGGAN dan/atau MITRA yang ada pada YOUTAP INDONESIA, baik yang diberikan sendiri oleh Pemegangatau timbul akibat penggunaan Layanan, termasuk menggabungkan, memisahkan, ataumelakukan tindakan lain yang dibutuhkan termasuk menyerahkan data kepada pihak laintermasuk namun tidak terbatas pada mitra, afiliasi atau perusahaan-perusahaan terkaitlainnya yang dianggap pantas oleh YOUTAP INDONESIA dengan memperhatikan ketentuanperundang-undangan yang berlaku dalam rangka penyelenggaraan Layanan.</p>
      <p>15.3.     PELANGGAN dan/atau MITRA setuju untuk sewaktu-waktu menerimapenawaran atau informasi terkait dengan produk-produk maupun program marketing YOUTAPINDONESIA dan pihak yang bekerja sama dengan YOUTAP INDONESIA sesuai dengan bataskewajaran yang ditetapkan oleh YOUTAP INDONESIA. </p>
      <p>15.4.     YOUTAP INDONESIA dapat mengubah, melengkapi, atau mengganti Syarat dan KetentuanUmum Layanan SNAP ini setiap saat dengan pemberitahuan kepada PELANGGANdan/atau MITRAatau melalui media pemberian informasi/pengumuman yang lazim digunakan YOUTAP INDONESIA.Setiap perubahan atas Syarat dan Ketentuan Umum Layanan SNAP ini mengikat PELANGGANdan MITRA,dan diharapkan PELANGGAN dan/atau MITRA secara aktif dan periodik melakukanakses ke jalur-jalur yang disediakan YOUTAP INDONESIA untuk mengetahui syarat danketentuan yang berlaku.</p>
      <p>15.5.     PELANGGAN dan/atau MITRA setuju untuk wajib tunduk padaketentuan-ketentuan dan peraturan-peraturan yang berlaku YOUTAP INDONESIA sertasyarat-syarat dan ketentuan-ketentuan yang mengatur semua jasa fasilitas dan transaksiyang dicakup oleh Layanan SNAP, termasuk setiap perubahan yang akan diberitahukanterlebih dahulu oleh YOUTAP INDONESIA dalam bentuk dan melalui sarana yang ditentukanoleh YOUTAP INDONESIA.</p>
      <p>15.6.     Terhadap hal-hal yang tidak diatur secara khusus dalam Syarat dan KetentuanUmum Layanan ini, PELANGGAN dan/atau MITRA menyatakan tunduk pada seluruhketentuan dan prosedur operasional yang seumumnya berlaku di YOUTAP INDONESIA danlayanan lainnya seperti namun tidak terbatas pada prosedur verifikasi baik tandatangan maupun verifikasi secara elektronis. </p>
      <p>15.7.     Dengan menyetujui Syarat dan Ketentuan Umum Layanan ini, PELANGGANdan/atau MITRAmengikatkan dan menyatakan bahwa YOUTAP INDONESIA telah memberikan penjelasan yangcukup mengenai karakteristik Layanan SNAP yang akan dimanfaatkan oleh PELANGGANdan/atau MITRAdan PELANGGAN dan/atau MITRA telah mengerti serta memahami segala konsekuensipemanfaatan Layanan YOUTAP INDONESIA termasuk manfaat, risiko, dan biaya-biaya yangmelekat pada Layanan.</p>
      <p>15.8.     PELANGGAN dan/atau MITRA akan membebaskan YOUTAP INDONESIAdari segala tuntutan apapun, dalam hal sebagian maupun seluruhnya karena kejadian-kejadianatau sebab-sebab di luar kekuasaan ataupun kemampuan YOUTAP INDONESIA, termasuknamun tidak terbatas pada bencana alam, perang, huru-hara, tidak berfungsinya sistem atau transmisi, gangguan listrik, gangguan jaringan telekomunikasi operator, kebijakan pemerintah, serta kejadian-kejadian atau sebab-sebab lain di luar kekuasaan atau kemampuan YOUTAP INDONESIA. </p>
      <p>15.9.     PELANGGAN dan/atau MITRA setuju untuk tidak membantahkeabsahan, kebenaran, atau keaslian bukti Transaksi dan penggunaan Layanan yangditransmisi secara elektronik, termasuk dokumen dalam bentuk SMS, tape/cartridge,print out komputer, salinan, atau bentuk penyimpanan informasi yang lain sebagaimana dimaksud sebagai Dokumen Elektronik dan Informasi Elektronik dalam Undang-UndangNo. 11 tahun 2008 tentang Informasi dan Transaksi Elektronik berikut seluruh perubahannyadari waktu ke waktu (apabila ada), dan semua alat atau dokumen lainnya yang ditentukanYOUTAP INDONESIA sebagai bukti Transaksi dan penggunaan Layanan, kecuali PELANGGANdan/atau MITRAdapat membuktikan sebaliknya.</p>
      <p>15.10.   Dengan melakukan transaksi dengan menggunakan Layanan, PELANGGANdan/atau MITRAmemberikan persetujuannya atas semua ketentuan yang ditetapkan oleh YOUTAP INDONESIAyang ada pada seluruh layanan atau fasilitas Layanan dan mengakui semua komunikasidan instruksi yang diterima YOUTAP INDONESIA adalah dari PELANGGANdan/atau MITRAyang bersangkutan dan dapat diperlakukan sebagai alat bukti yang sah meskipun tidakdibuat dokumen tertulis ataupun dikeluarkan dokumen yang ditandatangani.</p>
      <p>15.11.    Penggunaan nomor khusus, verifikasiOne Time Password, verifikasi sidik jari, dan/atau media identifikasi pribadi lainnya pada Layanan SNAP mempunyai kekuatan hukum yang sama dengan perintah tertulis yangditandatangani oleh PELANGGAN dan/atau MITRA.[FA1] [MIJ2] [LP3] [FA4] [LP5] </p>
      <p>15.12.   Dengan menggunakan dan/atau mengaktivasi Layanan SNAP maka PELANGGAN dan/atau MITRAtelah menyatakan bahwa seluruh informasi yang disampaikan PELANGGANdan/atau MITRAkepada YOUTAP INDONESIA adalah benar, dan PELANGGAN dan/atau MITRA tunduk, menyetujui dan terikat pada Syarat dan Ketentuan Umum Layanan ini.</p>
    </div>
    <p class="paragraph-2">Pembaharuan terakhir: <strong class="bold-text-3">7/Maret/2022</strong></p>
  </div>
  <script is:inline src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=616d24eebbeca651471d975d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script is:inline src="../js/youtap-indonesia.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/gsap.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/SplitText.min.js" type="text/javascript"></script>
  <script is:inline src="https://cdn.prod.website-files.com/gsap/3.15.0/ScrollTrigger.min.js" type="text/javascript"></script><!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2DNLPB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  -->

</BaseLayout>
